<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>库存管理系统-取货登记</title>
<meta
	content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0"
	name="viewport">
<meta content="yes" name="apple-mobile-web-app-capable">
<meta content="black" name="apple-mobile-web-app-status-bar-style">
<meta content="telephone=no" name="format-detection">
<meta name="viewport"
	content="width=device-width,initial-scale=1,user-scalable=0">
<th:block th:replace="public/public_css::pub_css"></th:block>
<th:block th:replace="public/public_js::pub_js"></th:block>
<script type="text/javascript"
	th:src="@{/assets/canvas/flexible.debug.js}"></script>
<script type="text/javascript" th:src="@{/assets/canvas/zepto.js}"></script>
<script type="text/javascript" th:src="@{/assets/canvas/touch.js}"></script>
<script type="text/javascript"
	th:src="@{/assets/canvas/flexible.debug.js}"></script>
<script type="text/javascript"
	th:src="@{/assets/canvas/flexible_css.debug.js}"></script>

<script type="text/javascript">
var isSign = false;

$(function(){
	  $(document).on("click","#btn",function(){
		  if(isSign){
   		   $("#btn").attr("disabled",true);
   		   $.toptip("提交成功",'success');
              $("#stockForm").submit();
   	   }else{
   		   $.toptip("请先签名");
   		   return false;
   		   
   	   }
      
		 
	  })
		 
		
        	  
 
})

 
</script>

<style>
::-webkit-scrollbar {
	display: none
}

table {
	table-layout: fixed;
	width: 100%;
	height: auto;
	border-bottom: 1px solid #e6e7f1;
	float: left
}

table tr:nth-child(2n) td {
	background: #f6f7fa
}

table tr td {
	line-height: 20px;
	padding: 5px;
	border-top: 1px solid #e6e7f1;
	text-align: center;
	background: #fff;
	color: #505050;
	font-size: 12px
}

table tr .dark {
	border-left: 1px solid #e7e7e7;
	border-right: 1px solid #e7e7e7
}

table td, table th {
	border: none;
	/* white-space: nowrap; */
	word-break: keep-all;
	width: 1px;
	word-wrap: break-word;
	padding: 0 2px;
}

table tr th {
	font-weight: 400;
	line-height: 40px;
	text-align: center;
	color: #edeef1;
	background: #798299;
	font-size: 12px
}

table tr .noborder {
	border-left: none !important;
	border-right: none !important
}

table tr td font {
	color: #e13b6d;
	font-size: 12px
}
</style>


</head>

<body class="page-bg">
	<div class="weui-cells weui-cells_form">
		<ul class="weui-payrec">
			<div class="weui-pay-m">
				<li class="weui-pay-order">
					<dl class="weui-pay-line">
						<dd class="weui-pay-name">中颂建筑智能化（上海）有限公司销货单</dd>
						<dt class="weui-pay-label">客户名称：</dt>
						<dd class="weui-pay-e">[[${stock?.customer}]]</dd>
					</dl>
					<dl class="weui-pay-line">
						<dt class="weui-pay-label">负责人：</dt>
						<dd class="weui-pay-e">[[${stock?.personInCharge}]]</dd>
					</dl>
					<dl class="weui-pay-line">
						<dt class="weui-pay-label">单据日期：</dt>
						<dd class="weui-pay-e">[[${stock?.depotTime}]]</dd>
					</dl>
					<dl class="weui-pay-line">
						<dt class="weui-pay-label">单据编号：</dt>
						<dd class="weui-pay-e">[[${stock?.outboundOrder}]]</dd>
					</dl>
					<dl class="weui-pay-line">
						<dt class="weui-pay-label">项目名称：</dt>
						<dd class="weui-pay-e">[[${stock?.projectName}]]</dd>
					</dl>
					<dl class="weui-pay-line">
						<dt class="weui-pay-label">备注：</dt>
						<dd class="weui-pay-e">[[${stock?.description}]]</dd>
					</dl>
				</li>

			</div>

		</ul>

		<table id="table">
			<thead>

				<tr>
					<th>序号</th>
					<th>设备名称</th>
					<th>设备型号</th>
					<th>单位</th>
					<th>数量</th>



				</tr>
			</thead>
			<tbody id="rank-list">
				<th:block th:each="st:${list}">
					<tr>
						<td>[[${stStat.index+1}]]</td>
						<td>[[${st?.stock?.name}]]</td>
						<td>[[${st?.stock?.model}]]</td>
						<td>[[${st?.stock?.unit?.name}]]</td>
						<td>[[${st?.num}]]</td>
					</tr>
				</th:block>


			</tbody>
		</table>




		<div class="page-hd">
			<h1 class="page-hd-title">请签名确认</h1>

		</div>


		<form th:action="@{/wechat/stockStatisticsPickup}" id="stockForm"
			method="post">


			<div class="weui-pay-area">
				<canvas id='canvas'></canvas>
				<input type="hidden" name="sign" id="sign"> <input
					type="hidden" name="outboundOrder"
					th:value="${stock?.outboundOrder}"> <input type="hidden"
					th:value="${getwXUserInfo?.openId}" name="openId">
				<div id="canvas-btn">
					<div class="cleaerfix"></div>
				</div>


			</div>
			<div class="weui-btn-area">
				<div class="weui-flex">
					<div class="weui-flex__item">
						<div class="placeholder">
							<div id="clear_btn" onclick="javascript:"
								class="weui-btn weui-btn_warn">重签</div>
						</div>
					</div>
					<div class="weui-flex__item">
						<div class="placeholder">
							<button class="weui-btn weui-btn_primary" onclick="javascript:"
								id="btn">确定</button>
						</div>
					</div>
				</div>
			</div>

		</form>


	</div>




	<script>
   	//获取页面尺寸  
    var canvasWidth = document.body.clientWidth;  
   // var canvasHeight = canvasWidth;  
    var canvasHeight = 200;  
    //声明canvas  
    var canvas = document.getElementById('canvas');  
    var context = canvas.getContext('2d');  
    //设置canvas尺寸  
    canvas.width = canvasWidth * 0.98;  
    canvas.height = canvasHeight;  
    //画笔颜色  
    var strokeColor = "#000";  
    //鼠标  
    isMouseDown = false;  
    //上一次绘制的的坐标  
    var lastLoc = {x:0,y:0};  
    //初始记录事件  
    var lastTimestamp = 0;  
    //上一次线条宽度  
    var lastLineWidth = -1;  
    //var   
    var maxV = 10;  
    var minV = 0.1;  
    var maxLineWidth = 5;
    var minLineWidth = 1;  
      
    //点击色块切换画笔颜色  
    $(".colorBtn").on("click",function (e){  
        $(".colorBtn").removeClass('colorBtnBorder');  
        $(this).addClass("colorBtnBorder");  
        strokeColor = $(this).css("");  
    })
    //清除  
    $('#clear_btn').on('click',function (e){  
        context.clearRect( 0, 0, canvasWidth,canvasHeight);    
        isSign = false;
        $("#sign").val("")
    });
    //保存画图
    $('#save_btn').on('click',function (e){
    	var image = canvasToImage(canvas);
    	$("#sign").val(image.src)
    	console.log(image);
    });
    //获取canvas 坐标 x，y 分别代表相对window内的xy  
    function windowToCanvas(x,y){  
        //canvas提供的方法返回canvas 距 他外围包围盒子的距离left,top值  
        var bbox = canvas.getBoundingClientRect();  
        //页面下拉滚动的距离
    	var scroll = document.body.scrollTop + document.documentElement.scrollTop
        //返回的就是canvas 内的坐标值  
        return {x : Math.round(x - bbox.left),y : Math.round(y-scroll - bbox.top)}  
    }   
    //封装 事件  
    function beginStroke(point){  
        isMouseDown = true;  
        //第一次用户画的坐标初始值  
        lastLoc = windowToCanvas(point.x,point.y);  
        //获取首次点击鼠标 事件戳  
        lastTimestamp = new Date().getTime();  
    }  
    function endStroke(){  
    	isSign = true;
        isMouseDown = false;  
        var image = canvasToImage(canvas);
    	$("#sign").val(image.src)
    }  
    function moveStroke(point){  
    	
        //开始绘制直线  
        var curLoc = windowToCanvas(point.x , point.y);  
        //路程  
        var s = calcDistance( curLoc, lastLoc);  
        //结束时间  
        var curTimestamp = new Date().getTime();  
        //时间差  
        var t = curTimestamp - lastTimestamp;  
        //绘制线条粗细  
        var lineWidth = calcLineWidth(t,s);  
      
        //绘制
        context.beginPath();  
        context.moveTo(lastLoc.x ,lastLoc.y);  
        context.lineTo(curLoc.x , curLoc.y);  
        context.strokeStyle = strokeColor;  
        context.lineWidth = lineWidth;  
        context.lineCap = "round";  
        context.lineJoin = "round";  
        context.stroke();     
        //给lastLoc赋值维护  
        lastLoc = curLoc;  
        //时间更新  
        lastTimestamp = curTimestamp;  
        lastLineWidth = lineWidth;    
    }  
    //pc鼠标事件  
    canvas.onmousedown = function(e){  
        e.preventDefault();  
        beginStroke({x:e.clientX , y:e.clientY});  
    }  
    canvas.onmouseup = function(e){  
        e.preventDefault();  
        endStroke();  
    }  
    canvas.onmouseout = function(e){  
        e.preventDefault();  
        endStroke();  
    }  
      
    canvas.onmousemove = function(e){  
        e.preventDefault();  
        if(isMouseDown){  
            moveStroke({x:e.clientX , y:e.clientY});      
        }  
    }  
    //移动端  
    canvas.addEventListener("touchstart",function(e){  
        e.preventDefault();  
        touch = e.touches[0]; //限制一根手指触碰屏幕  
        beginStroke({x:touch.pageX , y:touch.pageY});  
    });  
    canvas.addEventListener("touchend",function(e){
        e.preventDefault();  
        endStroke();  
    });  
    canvas.addEventListener("touchmove",function(e){  
        e.preventDefault();  
        if( isMouseDown){  
            touch = e.touches[0];  
            moveStroke({x: touch.pageX , y:touch.pageY});     
        }  
    });  
    //速度 = 路程 / 时间     用来计算书写速度来改变线条粗细  
    function calcDistance (loc1,loc2){  
        //返回 数的平方根  
        return Math.sqrt((loc1.x - loc2.x) * (loc1.x - loc2.x) + (loc1.y - loc2.y) * (loc1.y - loc2.y) );  
    }  
    //线条宽度  
    function calcLineWidth(t,s){  
        var v = s/t;  
        var resultLineWidth;  
        if(v <= minV){  
            resultLineWidth = maxLineWidth;  
        }else if(v >= maxV){  
            resultLineWidth = minLineWidth;  
        }else{  
            resultLineWidth = maxLineWidth - (v-minV)/(maxV-minV)*(maxLineWidth-minLineWidth);  
        }  
        if( lastLineWidth == -1){  
            return resultLineWidth;  
        }else{  
            return lastLineWidth*2/3 + resultLineWidth*1/3;  
        }  
    }
    // 将canvas转换成画布
    function canvasToImage(canvas){
    	var image = new Image();
    	image.src = canvas.toDataURL("image/png");
    	return image;
    }
    </script>


	<div th:replace="public/public_js::public_script"></div>



	<script th:inline="javascript">
	


	
	
/*<![CDATA[*/

    
    function getWxConfig(){
    	 $.ajax({
             url:path+"/wechat/getWxConfig",
             dataType:"json",
             type:"post",
             success:function(res){
               wx.config({
                  debug: false,
                  appId:res.appId, // 必填，公众号的唯一标识
                  timestamp: res.timestamp, // 必填，生成签名的时间戳
                  nonceStr: res.noncestr, // 必填，生成签名的随机串
                  signature: res.signature,// 必填，签名，见附录1
                  jsApiList: ['chooseImage','uploadImage','previewImage','downloadImage','checkJsApi','scanQRCode', 'chooseImage', 'uploadImage']// 必填
                    }); 
               
                   },
                error:function(){
                	$.toptip("获取配置信息失败");
                   }
               })
                wx.ready(function() {
                    wx.scanQRCode({
                        needResult: 1, // 默认为0，扫描结果由微信处理，1则直接返回扫描结果，
                        scanType: ["qrCode","barCode"], // 可以指定扫二维码还是一维码，默认二者都有
                        success: function (res) {
                	    var result = res.resultStr; // 当needResult 为 1 时，扫码返回的结果
							$("#barCode").val(result.substring(result.indexOf(",")+1,result.length));
                        },
						error:function(res){
						$.toptip( res.resultStr)
						}
                    });
                });

            
   
    }
    
 
    
    
    
    /*]]>*/
    
</script>


</body>
</html>