<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>库存管理系统-取货登记</title>
<meta
	content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0"
	name="viewport">
<meta content="yes" name="apple-mobile-web-app-capable">
<meta content="black" name="apple-mobile-web-app-status-bar-style">
<meta content="telephone=no" name="format-detection">
<meta name="viewport"
	content="width=device-width,initial-scale=1,user-scalable=0">
<th:block th:replace="public/public_css::pub_css"></th:block>
<th:block th:replace="public/public_js::pub_js"></th:block>
    <script type="text/javascript" th:src="@{/assets/canvas/flexible.debug.js}"></script>
    <script type="text/javascript" th:src="@{/assets/canvas/zepto.js}"></script>
    <script type="text/javascript" th:src="@{/assets/canvas/touch.js}"></script>
    <script type="text/javascript" th:src="@{/assets/canvas/flexible.debug.js}"></script>
    <script type="text/javascript" th:src="@{/assets/canvas/flexible_css.debug.js}"></script>
    <style>
        #showStock{
            position:relative;
            z-index:998;
        }
        #showStock table td{
            padding: 2px 0 0 15px;
            border: none;
            font-size: 16px;
            line-height: 22px;
        }
    </style>
<script>
var add =false;
var edit =false;
var del =false;
var isSign = false;
</script>
<script type="text/javascript">

$(function(){
	  $(document).on("click","#btn",function(){
		 
		
          var name = $("#name").val();
          var model = $("#model").val();
          var username = $("#username").val();
          var phone = $("#phone").val();
          var num = $("#num").val();
          if(name==""){
              $.toptip("请输入设备名称");
              return false;
          }else  if(model==""){
              $.toptip("请输入设备型号");
              return false;
          }else if(username==""){
              $.toptip("请输入取货人姓名");
              return false;
          }else if(phone==""){
        	  $.toptip("请输入取货人手机号");
              return false;
          }else if(!regphone.test(phone)){
        	  $.toptip("请输入正确的手机号");
              return false;
          }else if(num==""||num<=0){
        	  $.toptip("请输入正确的取货数量");
              return false;
          }else if(!number.test(num)){
        	  $.toptip("请输入数字");
              return false;
        	  
          }
           else{
        	   if(isSign){
        		   $("#btn").attr("disabled",true);
        		   $.toptip("提交成功",'success');
                   $("#projectPickupForm").submit();
        	   }else{
        		   $.toptip("请先签名");
        		   return false;
        		   
        	   }
        	   
             
          }
      })
})


 
</script>

<script th:inline="javascript">
    var source=[[${dr.data}]]
    function cleartxt(obj){
        $(obj).prev().find('.weui-input').val("");
        return false;
    }
    $(function(){
        source=[[${dr.data}]]
        elemCSS={ focus:{'color':'black','background':'#ccc'}, blur:{'color':'black','background':'transparent'} };
        inputUse=document.getElementById("stock");
        showUse=document.getElementById("showStock");
        showUse.style.display="none";
        inputValue=inputUse.defaultValue;
        console.log(inputValue)
    })

    function inputFocus(){
        this.timer=setInterval(function(){
            if(inputUse.value!=''){
                //检查文本框的当前值与以前的值是否有变化
                if(inputUse.value!=inputValue){
                    //如果文本框当前值与之前的值不同，记录当前值，已被下次调用时使用
                    inputValue=inputUse.value.toLowerCase();
                    //清除上次调用显示的结果
                    showUse.innerHTML='';
                    if(inputValue!=''){
                        //定义JS的RegExp对象，查询以inputValue开头的数据
                        quickExpr=RegExp(eval('/'+inputValue+'/'));
                        //如果数据源不为空，则调用match函数开始匹配数据
                        //此处如果通过ajax取数据，则适当修改数据源即可
                        if(source){
                            match(quickExpr,inputValue,source);
                        }
                    }
                }
            }
            else{
                inputValue=inputUse.value;
                showUse.innerHTML='';
                showUse.style.display="none";
            }
        },200)
    }

    //该函数用来查询匹配数据
    function match(quickExpr,value,source){
        var count=0;
        var table=null;
        var tr=null;
        var td=null;
        //创建table标签
        table=document.createElement('table');
        table.id='selector';
        table.style.width='100%';
        //开始遍历数组
        //如果用ajax从后台取数据，我们也可组织成数组的形式返回
        for(var i in source){
            //再次检验数据是否为空并且用正则取数据
            if(value.length>0 && quickExpr.exec(source[i])!=null){
                //创建tr标签
                tr=document.createElement('tr');
                //创建td标签
                td=document.createElement('td');
                td.innerHTML = '<a href="javascript:void(0);">'+source[i]+'</a>';
                tr.appendChild(td);
                table.appendChild(tr);
                showUse.appendChild(table);
                count++;
                if (count >=20) {
                    break;
                }
            }
        }

        //检验table下面的a标签的数量，以此确定是否将“提示”列表显示
        if(showUse.getElementsByTagName('a').length){
            showUse.style.display="";
        }else{
            showUse.style.display="none";
        }
    }




    //当焦点离开文本框时，触发该事件
    function inputBlur(){
        //由于焦点已经离开了文本框，则取消setInterval
        clearInterval(this.timer);
        //记住当前有焦点的选项
        var current=0;
        //当前table下面的a标签的个数
        var aArray=showUse.getElementsByTagName('a');
        var len=aArray.length-1;
        var select=document.getElementById("selector");


        //定义“选项”的onclick事件
        var aClick = function(){
            //由于“选项”上触发了click事件，this就是指a标签，则把a标签包含的数据赋值给文本框
            inputUse.value=this.childNodes[0].data.split(",")[0];
            //将文本框的当前值更新到记录以前值的变量中
            inputValue=inputUse.value;
            //由于上面已经选出合适的数据项，则清空table下的内容，并关闭“提示”列表
            showUse.innerHTML='';
            showUse.style.display='none';
            //将焦点移回文本框
            inputUse.focus();
        };

        //定义“选项”的onfocus事件
        var aFocus = function(){
            for(var i=len; i>=0; i--){
                if(this.parentNode===select.childNodes[i].childNodes[0]){
                    //如果是同一个td，则将current的值置为焦点所在位置的值
                    current = i;
                    break;
                }
            }
            //添加有焦点的效果
            for(var k in elemCSS.focus){
                this.style[k] = elemCSS.focus[k];
            }
        };

        //定义“选项”的onblur事件
        var aBlur= function(){
            //添加无焦点的效果
            for(var k in elemCSS.blur)
                this.style[k] = elemCSS.blur[k];
        };

        //定义“选项”的onKeydown是事件
        var aKeydown = function(event){
            //兼容IE
            event = event || window.event;

            //如果在选择数据项时按了tab键，此时的情况与“百度首页”的处理情况一样
            if(event.keyCode===9){
                showUse.innerHTML='';
                showUse.style.display = 'none';
                inputUse.focus();
            }
            //如果按了down键
            else if(event.keyCode==40){
                //向下移动，准备移动焦点
                current++;
                //如果当前焦点在最后一个数据项上，用户用按了down键，则循环向上，回到文本框上
                if(current>len){
                    current=-1;
                    inputUse.focus();
                }else{
                    select.getElementsByTagName('a')[current].focus();
                }
            }
            //如果按了up键
            else if(event.keyCode==38){
                //向上移动，准备移动焦点
                current--;
                //如果当前焦点在文本框上，用户用按了up键，则循环向下，回到最后一个数据项上
                if(current<0){
                    inputUse.focus();
                }else{
                    select.getElementsByTagName('a')[current].focus();
                }
            }
        };

        //将“选项”的事件与相应的处理函数绑定
        for(var i=0; i<aArray.length; i++){
            aArray[i].onclick = aClick;
            aArray[i].onfocus = aFocus;
            aArray[i].onblur = aBlur;
            aArray[i].onkeydown = aKeydown;
        }
    }

</script>



</head>

<body  class="page-bg">


<div class="weui-cells weui-cells_form">
  
	<form th:action="@{/wechat/projectPickup}" id="projectPickupForm" method="post">
    <div class="weui-cell">
        <div class="weui-cell__hd">
            <label class="weui-label">微信昵称：</label>
        </div>
        <div class="weui-cell__bd">
            <input class="weui-input" placeholder="微信昵称"  type="text" readonly="readonly" th:value="${userInfo.nickname}" >
        </div>
		<input type="hidden" th:value="${userInfo.openid}" name="openId">
    </div>

    <div class="weui-cell">
        <div class="weui-cell__hd">
            <label class="weui-label">设备名称</label>
        </div>
        <div class="weui-cell__bd">
            <input class="weui-input" placeholder="设备名称" th:value="${stock.name}"  type="text" name="name" id="name" >
        </div>

    </div>


    
    <div class="weui-cell">
        <div class="weui-cell__hd">
            <label class="weui-label">设备型号</label>
        </div>
        <div class="weui-cell__bd">
            <input class="weui-input" placeholder="设备型号" th:value="${stock.model}"  type="text" name="model" id="model" >
        </div>
    </div>
    
    <input type="hidden" name="stock.id" th:value="${stock.id}">
    
    <div class="weui-cell">
        <div class="weui-cell__hd">
            <label class="weui-label">取货人姓名</label>
        </div>
        <div class="weui-cell__bd">
            <input class="weui-input" placeholder="取货人姓名"  type="text" th:value="${getwXUserInfo?.username}" name="username" id="username" >
        </div>
    </div>
    <div class="weui-cell">
        <div class="weui-cell__hd">
            <label class="weui-label">取货人手机号</label>
        </div>
        <div class="weui-cell__bd">
            <input class="weui-input" placeholder="取货人手机号"   type="text" th:value="${getwXUserInfo?.phone}" name="phone" id="phone" >
        </div>
    </div>
    <div class="weui-cell">
        <div class="weui-cell__hd">
            <label class="weui-label">项目名称</label>
        </div>
        <div class="weui-cell__bd">
            <input class="weui-input" placeholder="项目名称"   type="text"  name="entryName" id="entryName" >
        </div>
    </div>
    <div class="weui-cell">
        <div class="weui-cell__hd">
            <label class="weui-label">项目编号</label>
        </div>
        <div class="weui-cell__bd">
            <input class="weui-input" placeholder="项目编号"   type="text"  name="itemNo" id="itemNo" >
        </div>
    </div>
    <div class="weui-cell">
        <div class="weui-cell__hd">
            <label class="weui-label">项目负责人</label>
        </div>
        <div class="weui-cell__bd">
            <input class="weui-input" placeholder="项目负责人"   type="text"  name="projectLeader" id="projectLeader" >
        </div>
    </div>

    
        <div class="weui-cell">
       <div class="weui-cell__hd">
            <label class="weui-label">取货数量</label>
        </div>
        <div class="weui-cell__bd">
            <input class="weui-input" onkeyup="this.value=this.value.replace(/[^0-9\.]/g,'')" placeholder="取货数量" id="num" name="num" type="number">
        </div>
    </div> 
    
    
        <h1 class="weui-pay-title">请签名确认</h1>
      <canvas id='canvas'></canvas>
      
     <input type="hidden" name="sign" id="sign">
     
    <div id="canvas-btn">  
        <div id="clear_btn" class="weui-btn weui-btn_mini weui-btn_warn">重签</div>  
       <!--  <div id="save_btn" style="float: right" class="weui-btn weui-btn_mini weui-btn_primary">保存</div>  -->
        <div class="cleaerfix"></div>  
    </div> 
   <P></P>
    
   <div class="weui-btn-area">
    <button class="weui-btn weui-btn_primary" onclick="javascript:" id="btn">确定</button>
</div>
    
    
       
    </form> 
    
    
</div>




 <script>
   	//获取页面尺寸  
    var canvasWidth = document.body.clientWidth;  
   // var canvasHeight = canvasWidth;  
    var canvasHeight = 200;  
    //声明canvas  
    var canvas = document.getElementById('canvas');  
    var context = canvas.getContext('2d');  
    //设置canvas尺寸  
    canvas.width = canvasWidth * 0.98;  
    canvas.height = canvasHeight;  
    //画笔颜色  
    var strokeColor = "#000";  
    //鼠标  
    isMouseDown = false;  
    //上一次绘制的的坐标  
    var lastLoc = {x:0,y:0};  
    //初始记录事件  
    var lastTimestamp = 0;  
    //上一次线条宽度  
    var lastLineWidth = -1;  
    //var   
    var maxV = 10;  
    var minV = 0.1;  
    var maxLineWidth = 5;
    var minLineWidth = 1;  
      
    //点击色块切换画笔颜色  
    $(".colorBtn").on("click",function (e){  
        $(".colorBtn").removeClass('colorBtnBorder');  
        $(this).addClass("colorBtnBorder");  
        strokeColor = $(this).css("");  
    })
    //清除  
    $('#clear_btn').on('click',function (e){  
        context.clearRect( 0, 0, canvasWidth,canvasHeight);    
        isSign = false;
        $("#sign").val("")
    });
    //保存画图
    $('#save_btn').on('click',function (e){
    	var image = canvasToImage(canvas);
    	$("#sign").val(image.src)
    	console.log(image);
    });
    //获取canvas 坐标 x，y 分别代表相对window内的xy  
    function windowToCanvas(x,y){  
        //canvas提供的方法返回canvas 距 他外围包围盒子的距离left,top值  
        var bbox = canvas.getBoundingClientRect();  
        //页面下拉滚动的距离
    	var scroll = document.body.scrollTop + document.documentElement.scrollTop
        //返回的就是canvas 内的坐标值  
        return {x : Math.round(x - bbox.left),y : Math.round(y-scroll - bbox.top)}  
    }   
    //封装 事件  
    function beginStroke(point){  
        isMouseDown = true;  
        //第一次用户画的坐标初始值  
        lastLoc = windowToCanvas(point.x,point.y);  
        //获取首次点击鼠标 事件戳  
        lastTimestamp = new Date().getTime();  
    }  
    function endStroke(){  
    	isSign = true;
        isMouseDown = false;  
        var image = canvasToImage(canvas);
    	$("#sign").val(image.src)
    }  
    function moveStroke(point){  
    	
        //开始绘制直线  
        var curLoc = windowToCanvas(point.x , point.y);  
        //路程  
        var s = calcDistance( curLoc, lastLoc);  
        //结束时间  
        var curTimestamp = new Date().getTime();  
        //时间差  
        var t = curTimestamp - lastTimestamp;  
        //绘制线条粗细  
        var lineWidth = calcLineWidth(t,s);  
      
        //绘制
        context.beginPath();  
        context.moveTo(lastLoc.x ,lastLoc.y);  
        context.lineTo(curLoc.x , curLoc.y);  
        context.strokeStyle = strokeColor;  
        context.lineWidth = lineWidth;  
        context.lineCap = "round";  
        context.lineJoin = "round";  
        context.stroke();     
        //给lastLoc赋值维护  
        lastLoc = curLoc;  
        //时间更新  
        lastTimestamp = curTimestamp;  
        lastLineWidth = lineWidth;    
    }  
    //pc鼠标事件  
    canvas.onmousedown = function(e){  
        e.preventDefault();  
        beginStroke({x:e.clientX , y:e.clientY});  
    }  
    canvas.onmouseup = function(e){  
        e.preventDefault();  
        endStroke();  
    }  
    canvas.onmouseout = function(e){  
        e.preventDefault();  
        endStroke();  
    }  
      
    canvas.onmousemove = function(e){  
        e.preventDefault();  
        if(isMouseDown){  
            moveStroke({x:e.clientX , y:e.clientY});      
        }  
    }  
    //移动端  
    canvas.addEventListener("touchstart",function(e){  
        e.preventDefault();  
        touch = e.touches[0]; //限制一根手指触碰屏幕  
        beginStroke({x:touch.pageX , y:touch.pageY});  
    });  
    canvas.addEventListener("touchend",function(e){
        e.preventDefault();  
        endStroke();  
    });  
    canvas.addEventListener("touchmove",function(e){  
        e.preventDefault();  
        if( isMouseDown){  
            touch = e.touches[0];  
            moveStroke({x: touch.pageX , y:touch.pageY});     
        }  
    });  
    //速度 = 路程 / 时间     用来计算书写速度来改变线条粗细  
    function calcDistance (loc1,loc2){  
        //返回 数的平方根  
        return Math.sqrt((loc1.x - loc2.x) * (loc1.x - loc2.x) + (loc1.y - loc2.y) * (loc1.y - loc2.y) );  
    }  
    //线条宽度  
    function calcLineWidth(t,s){  
        var v = s/t;  
        var resultLineWidth;  
        if(v <= minV){  
            resultLineWidth = maxLineWidth;  
        }else if(v >= maxV){  
            resultLineWidth = minLineWidth;  
        }else{  
            resultLineWidth = maxLineWidth - (v-minV)/(maxV-minV)*(maxLineWidth-minLineWidth);  
        }  
        if( lastLineWidth == -1){  
            return resultLineWidth;  
        }else{  
            return lastLineWidth*2/3 + resultLineWidth*1/3;  
        }  
    }
    // 将canvas转换成画布
    function canvasToImage(canvas){
    	var image = new Image();
    	image.src = canvas.toDataURL("image/png");
    	return image;
    }
    </script>


<div th:replace="public/public_js::public_script"></div>



	<script th:inline="javascript">
	
	   function stockStaticisOut(url,o){
	    	var data = "id="+o;
	    	$(".weui-actionsheet_cancel").trigger("click");
	   	 ajaxRequest("json","POST",url,data,"wechat/pickUpApplications");
	    }
	
	
	
	
	
	
	
	
	
/*<![CDATA[*/

    
    function getWxConfig(){
    	 $.ajax({
             url:path+"/wechat/getWxConfig",
             dataType:"json",
             type:"post",
             success:function(res){
               wx.config({
                  debug: false,
                  appId:res.appId, // 必填，公众号的唯一标识
                  timestamp: res.timestamp, // 必填，生成签名的时间戳
                  nonceStr: res.noncestr, // 必填，生成签名的随机串
                  signature: res.signature,// 必填，签名，见附录1
                  jsApiList: ['chooseImage','uploadImage','previewImage','downloadImage','checkJsApi','scanQRCode', 'chooseImage', 'uploadImage']// 必填
                    }); 
               
                   },
                error:function(){
                	$.toptip("获取配置信息失败");
                   }
               })
                wx.ready(function() {
                    wx.scanQRCode({
                        needResult: 1, // 默认为0，扫描结果由微信处理，1则直接返回扫描结果，
                        scanType: ["qrCode","barCode"], // 可以指定扫二维码还是一维码，默认二者都有
                        success: function (res) {
                	    var result = res.resultStr; // 当needResult 为 1 时，扫码返回的结果
							$("#barCode").val(result.substring(result.indexOf(",")+1,result.length));
                        },
						error:function(res){
						$.toptip( res.resultStr)
						}
                    });
                });

            
   
    }
    
 
    
    
    
    /*]]>*/
    
</script>


</body>
</html>