<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head th:include="public/public_css::pub_css"></head>
<head>
<meta charset="utf-8">
<link th:href="@{/plugs/alert/css/alert.css}" rel="stylesheet">
<script type="text/javascript" th:src="@{/plugs/alert/js/alert.js}"></script>
<link rel="stylesheet" th:href="@{/plugs/datapicker/datepicker3.css}">
<script type="text/javascript"
	th:src="@{/plugs/datapicker/bootstrap-datepicker.js}"></script>
<link th:href="@{/plugs/sweetalert/sweetalert.css}" rel="stylesheet">
<link rel="stylesheet" th:href="@{/assets/css/bootstrap-select.css}">
<style>
	.showin-b{
		display: inline-block;
	}
</style>


</head>

<body>
	<!-- Preloader -->
	<div id="preloader">
		<div id="status">&nbsp;</div>
	</div>
	<!-- TOP NAVBAR -->
	<div th:replace="public/public::top"></div>
	<!-- /END OF TOP NAVBAR -->

	<!-- SIDE MENU -->
	<div th:replace="public/public::left(activeUri='stockManager')"></div>
	<!-- END OF SIDE MENU -->

	<!--  PAPER WRAP -->
	<div class="wrap-fluid">
		<div class="container-fluid paper-wrap bevel tlbr">


			<!-- CONTENT -->
			<!--TITLE -->
			<div th:replace="public/public::title"></div>
			<!--/ TITLE -->

			<!-- BREADCRUMB -->
			<div th:replace="public/public::menu"></div>
			<!-- END OF BREADCRUMB -->


			<div class="content-wrap">
				<div class="row">


					<div class="col-sm-12">


						<div class="nest" id="tableStaticClose">

							<div class="title-alt">
								<div class="row">
									<div class="col-sm-6">
										<button class="btn btn-default" onclick="return showColumn()">
											<i class="entypo-list-add"> </i>显示列
										</button>
										<button class="btn btn-default" onclick="return showColumn2()">
											<i class="entypo-list-add"> </i>显示搜索
										</button>

									</div>
									<div class="col-sm-6"></div>


								</div>
							</div>

							<div class="body-nest" id="tableStatic">

<!--								<div class="row" style="margin-bottom: -10px;">-->
<!--									<div class="col-sm-12 form-inline">-->
<!--										<select class="filter-status form-control" id="searchArea"-->
<!--											onchange="return searchVal()">-->
<!--											<option value="">&#45;&#45;选择区域&#45;&#45;</option>-->
<!--											<option th:selected="${searchArea}==${area?.id}"-->
<!--												th:each="area:${areas}" th:value="${area?.id}"-->
<!--												th:text="${area?.name}"></option>-->

<!--										</select>-->

<!--										<select class="filter-status form-control" id="searchssC"-->
<!--												onchange="return searchVal()">-->
<!--											<option value="">&#45;&#45;选择分类&#45;&#45;</option>-->
<!--											<option th:selected="${ssC}==${sC?.id}"-->
<!--													th:each="sC:${ssCs}" th:value="${sC?.id}"-->
<!--													th:text="${sC?.name}"></option>-->

<!--										</select>-->


<!--										<select class="filter-status form-control" id="pageSize"-->
<!--											onchange="return searchVal()">-->
<!--											<option value="10" th:selected="${pageSize == 10}">10-->
<!--											-->
<!--											<option value="20" th:selected="${pageSize == 20}">20-->
<!--											-->
<!--											<option value="50" th:selected="${pageSize == 50}">50-->
<!--											-->
<!--											<option value="100" th:selected="${pageSize == 100}">100-->
<!--											-->
<!--										</select> -->
<!--										<input class="form-control" id="serach" placeholder="模糊匹配"-->
<!--											th:value="${search}" type="text"> -->
<!--										<input-->
<!--											class="form-control datepicker" readonly="readonly"-->
<!--											id="start" placeholder="开始日期" th:value="${start}" type="text">-->
<!--										<input class="form-control datepicker" readonly="readonly"-->
<!--											id="end" placeholder="结束日期" th:value="${end}" type="text">-->
<!--								<input type="hidden" name="userId" th:value="${session.user_session.id}" id="userId">-->
<!--										<select class="filter-status form-control" id="type"-->
<!--											name="type">-->
<!--											<option value="all" th:selected="${type == 'all'}">所有-->

<!--											<option value="in" th:selected="${type == 'in'}">入库-->

<!--											<option value="out" th:selected="${type == 'out'}">出库-->

<!--										</select>-->
<!--										-->
<!--										<select class="filter-status form-control" id="agent"-->
<!--											onchange="return searchVal()">-->
<!--											<option value="" selected>&#45;&#45;选择商品类别&#45;&#45;</option>-->
<!--											<option value="true" th:selected="${searchAgent=='true'}">代理商品</option>-->
<!--											<option value="false" th:selected="${searchAgent=='false'}">非代理商品</option>-->
<!--										</select>-->
<!--										-->
<!--										<select class="filter-status form-control" id="revoke"-->
<!--											onchange="return searchVal()">-->
<!--											<option value="0" selected>&#45;&#45;选择状态&#45;&#45;</option>-->
<!--											<option value="1" th:selected="${revoke=='1'}">已撤销</option>-->
<!--											<option value="2" th:selected="${revoke=='2'}">正常</option>-->
<!--										</select>-->

<!--										<select class="filter-status form-control" id="confirm"-->
<!--												onchange="return searchVal()">-->
<!--											<option value="" selected>&#45;&#45;是否核对&#45;&#45;</option>-->
<!--											<option value="true" th:selected="${confirm=='true'}">已核对</option>-->
<!--											<option value="false" th:selected="${confirm=='false'}">未核对</option>-->
<!--										</select>-->


<!--										<button class="btn btn-default btn-sm"-->
<!--											onclick="return searchVal()">-->
<!--											<i class="entypo-search"> </i> 搜索-->
<!--										</button>-->
<!--										<button class="btn btn-default btn-sm"-->
<!--											onclick="return clearaa()">-->
<!--											<i class="entypo-search"> </i> 清空-->
<!--										</button>-->

<!--										<button class="btn btn-default" onclick="return toExport()">-->
<!--											<i class="entypo-export"> </i>导出库存出入统计报表-->
<!--										</button>-->




<!--									</div>-->
<!--								</div>-->

								<!-- <div class="col-sm-6"></div> -->
								<div class="row" style="margin-bottom: 10px;">
									<div class="col-sm-12 form-inline" style="margin-bottom: 10px;">
										<div id="ssname" class="ssname showin-b"  th:style="${#lists.contains(listColums,'ssname')}?'':'display:none;'">
										<label class="control-label text-muted">设备名称：</label>
										<input class="form-control" name="name" placeholder=""
											   type="text" th:value="${requestBo?.name}">
										</div>
										<div id="ssmodel" class="ssmodel showin-b"  th:style="${#lists.contains(listColums,'ssmodel')}?'':'display:none;'">
										<label class="control-label text-muted">设备型号：</label>
										<input class="form-control" name="model" placeholder=""
											   type="text" th:value="${requestBo?.model}">
										</div>
										<div id="sssupplier" class="sssupplier showin-b"  th:style="${#lists.contains(listColums,'sssupplier')}?'':'display:none;'">
										<label class="control-label text-muted">供应商：</label>
										<input class="form-control" name="supplier" placeholder=""
											   type="text" th:value="${requestBo?.supplier}">
										</div>
										<div id="ssentryName" class="ssentryName showin-b"  th:style="${#lists.contains(listColums,'ssentryName')}?'':'display:none;'">
										<label class="control-label text-muted">项目名称：</label>
										<input class="form-control" name="entryName" placeholder=""
											   type="text" th:value="${requestBo?.entryName}">
										</div>
									</div>

									<div class="col-sm-12 form-inline" style="margin-bottom: 10px;">
										<div id="ssprojectName" class="ssprojectName showin-b"  th:style="${#lists.contains(listColums,'ssprojectName')}?'':'display:none;'">
											<label class="control-label text-muted">用于项目：</label>
											<input class="form-control" name="projectName" placeholder=""
												   type="text" th:value="${requestBo?.projectName}">
										</div>
										<div id="ssitemNo" class="ssitemNo showin-b"  th:style="${#lists.contains(listColums,'ssitemNo')}?'':'display:none;'">
										<label class="control-label text-muted">采购付款申请单：</label>
										<input class="form-control" name="itemNo" placeholder=""
											   type="text" th:value="${requestBo?.itemNo}">
										</div>
										<div id="sspurchaseInvoiceNo" class="sspurchaseInvoiceNo showin-b" th:style="${#lists.contains(listColums,'sspurchaseInvoiceNo')}?'':'display:none;'">
										<label class="control-label text-muted">采购发票号：</label>
										<input class="form-control" name="purchaseInvoiceNo" placeholder=""
											   type="text" th:value="${requestBo?.purchaseInvoiceNo}">
										</div>
										<div id="sscustomer" class="sscustomer showin-b" th:style="${#lists.contains(listColums,'sscustomer')}?'':'display:none;'">
										<label class="control-label text-muted">客户：</label>
										<input class="form-control" name="customer" placeholder=""
											   type="text" th:value="${requestBo?.customer}">
										</div>
									</div>

									<div class="col-sm-12 form-inline" style="margin-bottom: 10px;">
										<div id="sspurchaseInvoiceDate" class="sspurchaseInvoiceDate showin-b" th:style="${#lists.contains(listColums,'sspurchaseInvoiceDate')}?'':'display:none;'">
											<label class="control-label text-muted">采购发票到票日期：</label>
											<input class="form-control" name="purchaseInvoiceDate" placeholder=""
												   type="text" th:value="${requestBo?.purchaseInvoiceDate}">
										</div>
										<div id="sspaymentOrderNo" class="sspaymentOrderNo showin-b"  th:style="${#lists.contains(listColums,'sspaymentOrderNo')}?'':'display:none;'">
											<label class="control-label text-muted">银行付款日期：</label>
											<input class="form-control" name="paymentOrderNo" placeholder=""
												   type="text" th:value="${requestBo?.paymentOrderNo}">
										</div>
										<div id="sssailesInvoiceNo" class="sssailesInvoiceNo showin-b"  th:style="${#lists.contains(listColums,'sssailesInvoiceNo')}?'':'display:none;'">
											<label class="control-label text-muted">销售发票号：</label>
											<input class="form-control" name="sailesInvoiceNo" placeholder=""
												   type="text" th:value="${requestBo?.sailesInvoiceNo}">
										</div>

									</div>
									<div class="col-sm-12 form-inline" style="margin-bottom: 10px;">
										<select class="filter-status form-control" id="pageSize">
											<option value="10" th:selected="${pageSize == 10}">10
											<option value="20" th:selected="${pageSize == 20}">20
											<option value="50" th:selected="${pageSize == 50}">50
											<option value="100" th:selected="${pageSize == 100}">100
										</select>
										<select multiple class="filter-status form-control selectpicker" id="searchssC"
												data-max-options="20" title="选择分类">
											<option th:selected="${requestBo?.ssC}==${sC?.id}"
													th:each="sC:${ssCs}" th:value="${sC?.id}"
													th:text="${sC?.name}"></option>
										</select>
										<select multiple class="filter-status form-control selectpicker" id="searchArea"
												data-max-options="5" title="选择区域">
											<option th:selected="${requestBo?.searchArea}==${area?.id}"
													th:each="area:${areas}" th:value="${area?.id}"
													th:text="${area?.name}"></option>
										</select>

										<input type="hidden" name="userId" th:value="${session.user_session.id}" id="userId">
										<select class="filter-status form-control" id="type"
												name="type">
											<option value="all" th:selected="${requestBo?.type == 'all'}">所有

											<option value="in" th:selected="${requestBo?.type == 'in'}">入库

											<option value="out" th:selected="${requestBo?.type == 'out'}">出库

										</select>
										<select class="filter-status form-control" id="revoke" name="revoke">
											<option value="0" selected>--选择状态--</option>
											<option value="1" th:selected="${requestBo?.revoke=='1'}">已撤销</option>
											<option value="2" th:selected="${requestBo?.revoke=='2'}">正常</option>
										</select>

										<select class="filter-status form-control" id="confirm" name="confirm">
											<option value="" selected>--是否核对--</option>
											<option value="true" th:selected="${requestBo?.confirm=='true'}">已核对</option>
											<option value="false" th:selected="${requestBo?.confirm=='false'}">未核对</option>
										</select>
										<input
												class="form-control datepicker" readonly="readonly"
												id="start" placeholder="开始日期" th:value="${requestBo?.start}" type="text">
										<input class="form-control datepicker" readonly="readonly"
											   id="end" placeholder="结束日期" th:value="${requestBo?.end}" type="text">


										<button class="btn btn-default btn-sm"
												onclick="return searchBo()">
											<i class="entypo-search"> </i> 搜索
										</button>
									</div>

								</div>


							</div>
							<shiro:hasPermission 	name="stockStatistics:edit">
							<div class="body-nest" id="showStockStatistics">
							<button class="btn btn-primary btn-sm"
											onclick="return editStockStatistics()">
											<i class="entypo-search"> </i> 批量编辑
										</button>
								<button class="btn btn-primary btn-sm"
										onclick="return confirms()">
									<i class="fa fa-edit"> </i> 批量核对
								</button>

								<button class="btn btn-default" onclick="return toExport()">
									<i class="entypo-export"> </i>导出库存出入统计报表
								</button>

										<button class="btn btn-default" onclick="return toExportNew()">
											<i class="entypo-export"> </i>导出新出入统计报表
										</button>
<!--										<button class="btn btn-default" onclick="return toExport()">-->
<!--											<i class="entypo-export"> </i>导出库存出入统计报表-->
<!--										</button>-->

<!--										<button class="btn btn-default" onclick="return toExportNew3()">-->
<!--											<i class="entypo-export"> </i>导出上月结余统计-->
<!--										</button>-->
										
										<button class="btn btn-default" onclick="return findMineEidt()">
											<i class="entypo-export"> </i>查看我编辑的
										</button>

										<button class="btn btn-default" onclick="return toJD()">
											<i class="entypo-export"> </i>导出库存出入统计报表(金蝶)
										</button>
										
							</div>
							</shiro:hasPermission>


							<section id="flip-scroll">
								<div
									style="overflow-y: auto; overflow-x: auto; white-space: nowrap; text-overflow: ellipsis;">
									<table
										class="table table-bordered table-striped cf text-nowrap  table-hover">
										<thead class="cf">
											<tr>
												<shiro:hasPermission 	name="stockStatistics:edit">
												<th class="numeric" style="width: 20px;">
													<div class="checkbox checkbox-inline"
														style="margin-top: 0px;">
														<input type="checkbox" id="checkall" name="checkall" /> <label
															for="checkall"></label>
													</div>
												</th>
												</shiro:hasPermission>
												<th class="numeric area"
													th:style="${#lists.contains(listColums,'area')}?'':'display:none;'">区域</th>
												<th class="numeric entryName"
													th:style="${#lists.contains(listColums,'entryName')}?'':'display:none;'">项目名称</th>
												<th class="numeric pname"
													th:style="${#lists.contains(listColums,'pname')}?'':'display:none;'">项目名称(新)</th>
												<th class="numeric supplier"
													th:style="${#lists.contains(listColums,'supplier')}?'':'display:none;'">供应商</th>
												<th class="numeric itemNo"
													th:style="${#lists.contains(listColums,'itemNo')}?'':'display:none;'">采购付款申请单编码</th>
												<th class="numeric newItemNo"
													th:style="${#lists.contains(listColums,'newItemNo')}?'':'display:none;'">采购付款申请单编码(新)</th>
												<th class="numeric stockName"
													th:style="${#lists.contains(listColums,'stockName')}?'':'display:none;'">设备名称</th>
												<th class="numeric stockModel"
													th:style="${#lists.contains(listColums,'stockModel')}?'':'display:none;'">设备型号</th>
												<th class="numeric brand"
													th:style="${#lists.contains(listColums,'brand')}?'':'display:none;'">品牌</th>
												<th class="numeric storageTime"
													th:style="${#lists.contains(listColums,'storageTime')}?'':'display:none;'">入库时间</th>
												<th class="numeric inNum"
													th:style="${#lists.contains(listColums,'inNum')}?'':'display:none;'">入库数量</th>
												<th class="numeric depotTime"
													th:style="${#lists.contains(listColums,'depotTime')}?'':'display:none;'">出库时间</th>
												<th class="numeric outNum"
													th:style="${#lists.contains(listColums,'outNum')}?'':'display:none;'">出库数量</th>
												<th class="numeric newNum"
													th:style="${#lists.contains(listColums,'newNum')}?'':'display:none;'">库存数量</th>
												<th class="numeric revokeNum"
													th:style="${#lists.contains(listColums,'revokeNum')}?'':'display:none;'">撤销数量</th>
												<th class="numeric personInCharge"
													th:style="${#lists.contains(listColums,'personInCharge')}?'':'display:none;'">负责人</th>
												<th class="numeric projectName"
													th:style="${#lists.contains(listColums,'projectName')}?'':'display:none;'">用于项目</th>
												<th class="numeric customer"
													th:style="${#lists.contains(listColums,'customer')}?'':'display:none;'">客户</th>
												<th class="numeric newCustomer"
													th:style="${#lists.contains(listColums,'newCustomer')}?'':'display:none;'">客户(新)</th>
												<th class="numeric accepter"
													th:style="${#lists.contains(listColums,'accepter')}?'':'display:none;'">领料人</th>
												<th class="numeric outboundOrder"
													th:style="${#lists.contains(listColums,'outboundOrder')}?'':'display:none;'">出库单号</th>
												<th class="numeric inprice"
													th:style="${#lists.contains(listColums,'inprice')}?'':'display:none;'">入库总金额</th>
												<th class="numeric sailPrice"
													th:style="${#lists.contains(listColums,'sailPrice')}?'':'display:none;'">销售总金额</th>
												<th class="numeric sailesInvoiceNo"
													th:style="${#lists.contains(listColums,'sailesInvoiceNo')}?'':'display:none;'">销售发票号</th>
													
												<th class="numeric sailesInvoiceDate"
													th:style="${#lists.contains(listColums,'sailesInvoiceDate')}?'':'display:none;'">销售发票开具日期</th>

												<th class="numeric purchaseInvoiceDate"
													th:style="${#lists.contains(listColums,'purchaseInvoiceDate')}?'':'display:none;'">采购发票到票日期</th>

												<th class="numeric purchaseInvoiceNo"
													th:style="${#lists.contains(listColums,'purchaseInvoiceNo')}?'':'display:none;'">采购发票号</th>
												<th class="numeric receiptNo"
													th:style="${#lists.contains(listColums,'receiptNo')}?'':'display:none;'">银行收款日期</th>
												<th class="numeric paymentOrderNo"
													th:style="${#lists.contains(listColums,'paymentOrderNo')}?'':'display:none;'">银行付款日期</th>

												<th class="numeric user"
													th:style="${#lists.contains(listColums,'user')}?'':'display:none;'">操作人</th>
												<th class="numeric description"
													th:style="${#lists.contains(listColums,'description')}?'':'display:none;'">备注</th>
												<th class="numeric revoke"
													th:style="${#lists.contains(listColums,'revoke')}?'':'display:none;'">状态</th>
												<th class="numeric sign"
													th:style="${#lists.contains(listColums,'sign')}?'':'display:none;'">签名</th>
												<th class="numeric othersign"
													th:style="${#lists.contains(listColums,'othersign')}?'':'display:none;'">复核签名</th>
												<th class="numeric ssC"
												th:style="${#lists.contains(listColums,'ssC')}?'':'display:none;'">分类</th>
												<th class="numeric">操作</th>
											</tr>
										</thead>
										<tbody>
											<!-- 目录 -->
											<th:block th:each="stockStatistics:${pageList?.datas}">
											
												<tr th:id="|confirm${stockStatistics?.id}|" th:classappend="${stockStatistics?.confirm} ?  danger : _">
												<shiro:hasPermission 	name="stockStatistics:edit">
													<td class="numeric">
														<div class="checkbox checkbox-inline"
															style="margin-top: 0px;">
															<input type="checkbox" name="ids"
																th:id="${stockStatistics.id}" class="numeric"
																th:value="${stockStatistics.id}"> <label
																th:for="${stockStatistics.id}"></label>
														</div>
													</td>
												</shiro:hasPermission>
													<td class="numeric area" id="area"
														th:style="${#lists.contains(listColums,'area')}?'':'display:none;'">[[${stockStatistics?.area?.name}]]</td>
													<td class="numeric entryName" id="entryName"
														th:style="${#lists.contains(listColums,'entryName')}?'':'display:none;'"
													th:text="${stockStatistics?.stock?.entryName!=null and stockStatistics?.stock?.entryName!='' and
													stockStatistics?.stock?.entryName.length() > 15}?${stockStatistics?.stock?.entryName.substring(0,15)}:${stockStatistics?.stock?.entryName}"></td>
													<td class="numeric pname" id="pname"
														th:style="${#lists.contains(listColums,'pname')}?'':'display:none;'">[[${stockStatistics?.pname?.name}]]</td>
													<td class="numeric supplier" id="supplier"
														th:style="${#lists.contains(listColums,'supplier')}?'':'display:none;'">
														<a href="javascript:;"
														th:onclick="|return showSupplier('${stock?.supplier?.id}')|">[[${stockStatistics?.stock?.supplier?.name}]]</a>
													</td>
													<td class="numeric itemNo" id="itemNo"
														th:style="${#lists.contains(listColums,'itemNo')}?'':'display:none;'">[[${stockStatistics?.stock?.itemNo}]]</td>
													<td class="numeric newItemNo" th:id="|newItemNo_${stockStatistics?.id}|"   th:ondblclick="|return change('${stockStatistics?.id}','newItemNo',${stockStatistics?.confirm})|"
														th:style="${#lists.contains(listColums,'newItemNo')}?'':'display:none;'">[[${stockStatistics?.newItemNo}]]</td>
													<td class="numeric stockName" id="stockName"
														th:style="${#lists.contains(listColums,'stockName')}?'':'display:none;'"
														th:title="${stockStatistics?.stock?.name}"
														th:text="${#strings.abbreviate(stockStatistics?.stock?.name,30)}"></td>
													<td class="numeric stockModel" id="stockModel"
														th:style="${#lists.contains(listColums,'stockModel')}?'':'display:none;'"
														th:title="${stockStatistics?.stock?.model}"
														th:text="${#strings.abbreviate(stockStatistics?.stock?.model,20)}"></td>
													<td class="numeric brand" id="brand"
														th:style="${#lists.contains(listColums,'brand')}?'':'display:none;'"
														th:title="${stockStatistics?.stock?.brand?.name}"
														th:text="${#strings.abbreviate(stockStatistics?.stock?.brand?.name,20)}"></td>
													<td class="numeric storageTime" id="storageTime"
														th:style="${#lists.contains(listColums,'storageTime')}?'':'display:none;'"
														th:text="${stockStatistics.storageTime!=null}?${stockStatistics?.storageTime}:'--------'"></td>
													<td class="numeric inNum"  th:id="|inNum_${stockStatistics?.id}|"
														th:style="${#lists.contains(listColums,'inNum')}?'':'display:none;'"
														th:text="${stockStatistics.storageTime != null}?${stockStatistics?.num}:'--------'"></td>
													<td class="numeric depotTime" id="depotTime"
														th:style="${#lists.contains(listColums,'depotTime')}?'':'display:none;'"
														th:text="${stockStatistics.depotTime!=null}?${stockStatistics?.depotTime}:'--------'"></td>
													<td class="numeric outNum" th:id="|outNum_${stockStatistics?.id}|"
														th:style="${#lists.contains(listColums,'outNum')}?'':'display:none;'"
														th:text="${stockStatistics.depotTime != null}?${stockStatistics?.num}:'--------'"></td>
													<td class="numeric newNum" id="newNum"
														th:style="${#lists.contains(listColums,'newNum')}?'':'display:none;'">[[${stockStatistics?.newNum}]]</td>
													<td class="numeric revokeNum" id="revokeNum"
														th:style="${#lists.contains(listColums,'revokeNum')}?'':'display:none;'">[[${stockStatistics?.revokeNum}]]</td>
													<td class="numeric personInCharge" id="personInCharge"
														th:style="${#lists.contains(listColums,'personInCharge')}?'':'display:none;'"
														th:text="${stockStatistics.personInCharge != null}?${stockStatistics?.personInCharge}:'--------'"></td>
													<td class="numeric projectName" id="projectName"
														th:style="${#lists.contains(listColums,'projectName')}?'':'display:none;'"
														th:text="${stockStatistics.projectName != null}?${stockStatistics?.projectName}:'--------'"></td>
													<td class="numeric customer" id="customer"
														th:style="${#lists.contains(listColums,'customer')}?'':'display:none;'"
														th:title="${stockStatistics?.customer}"
														th:text="${stockStatistics?.customer != null}?${#strings.abbreviate(stockStatistics?.customer,25)}:'--------'"></td>
													<td class="numeric newCustomer" id="newCustomer"
														th:style="${#lists.contains(listColums,'newCustomer')}?'':'display:none;'">[[${stockStatistics?.newCustomer?.name}]]</td>
													<td class="numeric accepter" id="accepter"
														th:style="${#lists.contains(listColums,'accepter')}?'':'display:none;'"
														th:text="${stockStatistics.accepter != null}?${stockStatistics?.accepter}:'--------'"></td>
													<td class="numeric outboundOrder" id="outboundOrder"
														th:style="${#lists.contains(listColums,'outboundOrder')}?'':'display:none;'"
														th:text="${stockStatistics.outboundOrder != null}?${stockStatistics?.outboundOrder}:'--------'"></td>

													<td class="numeric inprice"  th:id="|inprice_${stockStatistics?.id}|"  th:ondblclick="|return change('${stockStatistics?.id}','inprice',${stockStatistics?.confirm})|"
														th:style="${#lists.contains(listColums,'inprice')}?'':'display:none;'"
														th:text="${stockStatistics.inprice != 0.0}?${stockStatistics?.inprice}:'0.0'">
														
														</td>

													<td class="numeric sailPrice"  th:id="|sailPrice_${stockStatistics?.id}|"  th:ondblclick="|return change('${stockStatistics?.id}','sailPrice',${stockStatistics?.confirm})|"
														th:style="${#lists.contains(listColums,'sailPrice')}?'':'display:none;'"
														th:text="${stockStatistics.sailPrice != 0.0}?${stockStatistics?.sailPrice}:'0.0'">

													</td>

													<td class="numeric sailesInvoiceNo" th:id="|sailesInvoiceNo_${stockStatistics?.id}|" th:ondblclick="|return change('${stockStatistics?.id}','sailesInvoiceNo',${stockStatistics?.confirm})|"
														th:style="${#lists.contains(listColums,'sailesInvoiceNo')}?'':'display:none;'"
														th:text="${stockStatistics.sailesInvoiceNo != null}?${stockStatistics?.sailesInvoiceNo}:''"></td>

													<td class="numeric sailesInvoiceDate" th:id="|sailesInvoiceDate_${stockStatistics?.id}|" th:ondblclick="|return changeDate('${stockStatistics?.id}','sailesInvoiceDate',${stockStatistics?.confirm})|"
														th:style="${#lists.contains(listColums,'sailesInvoiceDate')}?'':'display:none;'"
														th:text="${stockStatistics.sailesInvoiceDate != null}?${stockStatistics?.sailesInvoiceDate}:''"></td>

													<td class="numeric purchaseInvoiceDate" th:id="|purchaseInvoiceDate_${stockStatistics?.id}|" th:ondblclick="|return changeDate('${stockStatistics?.id}','purchaseInvoiceDate',${stockStatistics?.confirm})|"
														th:style="${#lists.contains(listColums,'purchaseInvoiceDate')}?'':'display:none;'"
														th:text="${stockStatistics.purchaseInvoiceDate != null}?${stockStatistics?.purchaseInvoiceDate}:''"></td>

													<td class="numeric purchaseInvoiceNo" th:id="|purchaseInvoiceNo_${stockStatistics?.id}|"   th:ondblclick="|return change('${stockStatistics?.id}','purchaseInvoiceNo',${stockStatistics?.confirm})|"
														th:style="${#lists.contains(listColums,'purchaseInvoiceNo')}?'':'display:none;'">[[${stockStatistics?.purchaseInvoiceNo}]]</td>
														
													<td class="numeric receiptNo"  th:id="|receiptNo_${stockStatistics?.id}|"  th:ondblclick="|return changeyinhang('${stockStatistics?.id}','receiptNo',${stockStatistics?.confirm})|"
														th:style="${#lists.contains(listColums,'receiptNo')}?'':'display:none;'">[[${stockStatistics?.receiptNo}]]</td>
														
													<td class="numeric paymentOrderNo"
														th:id="|paymentOrderNo_${stockStatistics?.id}|"  th:ondblclick="|return changeyinhang('${stockStatistics?.id}','paymentOrderNo',${stockStatistics?.confirm})|"
														th:style="${#lists.contains(listColums,'paymentOrderNo')}?'':'display:none;'">[[${stockStatistics?.paymentOrderNo}]]</td>


													<td class="numeric user" id="user"
														th:style="${#lists.contains(listColums,'user')}?'':'display:none;'">[[${stockStatistics?.user?.userName}]]</td>
													<td class="numeric description" th:id="|description_${stockStatistics?.id}|"
														th:title="${stockStatistics.description}"
														th:style="${#lists.contains(listColums,'description')}?'':'display:none;'">[[${#strings.abbreviate(stockStatistics?.description,30)}]]</td>

													<td class="numeric revoke" id="revoke"
														th:style="${#lists.contains(listColums,'revoke')}?'':'display:none;'">
														<label th:id="|revoke${stockStatistics?.id}|"
														th:style="${stockStatistics?.revoke == true}?'color:red':'color:green'"
														th:text="${stockStatistics?.revoke == true}?'已撤销':'正常'"></label>
													</td>
													<td class="numeric sign" id="sign" 
														th:style="${#lists.contains(listColums,'sign')}?'':'display:none;'">
														<label th:if="${stockStatistics.depotTime!=null}"
														th:style="${stockStatistics?.mysign ==null}?'color:red':'color:green'"
														th:text="${stockStatistics?.mysign ==null}?'未签名':'已签名'"></label>
													</td>
													<td class="numeric othersign" id="othersign"
														th:style="${#lists.contains(listColums,'othersign')}?'':'display:none;'">
														<label th:if="${stockStatistics.depotTime!=null}"
															   th:style="${stockStatistics?.othersign ==null}?'color:red':'color:green'"
															   th:text="${stockStatistics?.othersign ==null}?'未签名':'已签名'"></label>
													</td>
													<td class="numeric ssC" id="ssC"
														th:style="${#lists.contains(listColums,'ssC')}?'':'display:none;'">[[${stockStatistics?.stock?.systemClassification?.name}]]</td>
													<td class="numeric">
													<th:block th:if="|
													${#strings.isEmpty(stockStatistics.purchaseInvoiceNo)&&
													#strings.isEmpty(stockStatistics.receiptNo)&&
													#strings.isEmpty(stockStatistics.paymentOrderNo)&&
													!stockStatistics?.confirm&&
													#strings.isEmpty(stockStatistics.sailesInvoiceNo)}|
													">
													<shiro:hasPermission 	name="stockStatistics:revoke">
														<button class="btn btn-primary btn-xs btcancle" id="revoke"
																th:id="${stockStatistics?.id}" th:name="|cx_${stockStatistics?.id}|"
																th:onclick="|return revoke('${stockStatistics?.id}')|">
																<i class="fa fa-edit"> </i>撤销 
															</button>
														</shiro:hasPermission> 
													
													</th:block>


													
													<th:block th:unless="|
													${#strings.isEmpty(stockStatistics.purchaseInvoiceNo)&&
													#strings.isEmpty(stockStatistics.receiptNo)&&
													#strings.isEmpty(stockStatistics.paymentOrderNo)&&
													#strings.isEmpty(stockStatistics.sailesInvoiceNo)}|
													">
											
													<shiro:hasPermission 	name="stockStatistics:edit">
														<button class="btn btn-primary btn-xs btcancle"
																th:id="${stockStatistics?.id}" th:name="|cwx_${stockStatistics?.id}|"
																th:onclick="|return revoke('${stockStatistics?.id}')|">
																<i class="fa fa-edit"> </i>财务撤销 
															</button>
														</shiro:hasPermission> 
													
													</th:block>

														<th:block>
															<shiro:hasPermission 	name="stockStatistics:confirm">
																<button class="btn btn-primary btn-xs btcancle" id="confirmbtn"
																		th:id="|confirm_${stockStatistics?.id}|"
																		th:onclick="|return confirm('${stockStatistics?.id}')|"
																		th:text="${!stockStatistics?.confirm?'核对':'已核对'}">
																	<i class="fa fa-edit"> </i>
																</button>
															</shiro:hasPermission>

														</th:block>
														
													
														<th:block
															th:if="${(stockStatistics?.revoke == false || stockStatistics?.sign!='one') && !stockStatistics?.confirm}">
															<button class="btn btn-default btn-sm"
																th:if="${stockStatistics.depotTime!=null}"
																th:id="|outbound${stockStatistics?.id}|" title="生成出库单"
																th:onclick="|return outboundOrder('${stockStatistics?.id}')|">
																<i class="fontawesome-list-alt"> </i>
															</button>
															<button th:id="|qrcode${stockStatistics?.id}|"
																title="下载取货二维码" class="btn btn-default btn-sm"
																th:if="${stockStatistics.depotTime!=null}"
																th:onclick="|return toDownloadQRcode('${stockStatistics.id}')|">
																<i class="fontawesome-cloud-download"> </i>
															</button>
															<button class="btn btn-default btn-sm" th:id="|ckcode${stockStatistics?.id}|" title="出库二维码" th:if="${stockStatistics.depotTime!=null}"
																th:onclick="|return showQRCode('${stockStatistics.id}','${stockStatistics?.projectName}')|">
																<i class="icon icon-view-thumb"> </i>

															</button>


														</th:block>
													</td>
												</tr>
												<!-- 菜单 -->
											</th:block>


										</tbody>
										
										
										
										
												<shiro:hasPermission 	name="stockStatistics:edit">
										<thead class="cf">
											<tr>
												<th class="numeric" >
													合计
												</th>
												
												<th class="numeric area"
													th:style="${#lists.contains(listColums,'area')}?'':'display:none;'"></th>
												<th class="numeric entryName"
													th:style="${#lists.contains(listColums,'entryName')}?'':'display:none;'"></th>
												<th class="numeric supplier"
													th:style="${#lists.contains(listColums,'supplier')}?'':'display:none;'"></th>
												<th class="numeric itemNo"
													th:style="${#lists.contains(listColums,'itemNo')}?'':'display:none;'"></th>
												<th class="numeric newItemNo"
													th:style="${#lists.contains(listColums,'newItemNo')}?'':'display:none;'"></th>
												<th class="numeric stockName"
													th:style="${#lists.contains(listColums,'stockName')}?'':'display:none;'"></th>
												<th class="numeric stockModel"
													th:style="${#lists.contains(listColums,'stockModel')}?'':'display:none;'"></th>
												<th class="numeric brand"
													th:style="${#lists.contains(listColums,'brand')}?'':'display:none;'"></th>
												<th class="numeric storageTime"
													th:style="${#lists.contains(listColums,'storageTime')}?'':'display:none;'"></th>
												<th class="numeric inNum" id="inNumHJ"
													th:style="${#lists.contains(listColums,'inNum')}?'':'display:none;'">[[${#aggregates.sum(pageList?.datas.![inOrOut?num:0])}]]</th>
												<th class="numeric depotTime"
													th:style="${#lists.contains(listColums,'depotTime')}?'':'display:none;'"></th>
												<th class="numeric outNum" id="outNumHJ"
													th:style="${#lists.contains(listColums,'outNum')}?'':'display:none;'">[[${#aggregates.sum(pageList?.datas.![inOrOut?0:num])}]]</th>
												<th class="numeric newNum"
													th:style="${#lists.contains(listColums,'newNum')}?'':'display:none;'">[[${#aggregates.sum(pageList?.datas.![newNum==null?0:newNum])}]]</th>
												<th class="numeric revokeNum"
													th:style="${#lists.contains(listColums,'revokeNum')}?'':'display:none;'"></th>
												<th class="numeric personInCharge"
													th:style="${#lists.contains(listColums,'personInCharge')}?'':'display:none;'"></th>
												<th class="numeric projectName"
													th:style="${#lists.contains(listColums,'projectName')}?'':'display:none;'"></th>
												<th class="numeric customer"
													th:style="${#lists.contains(listColums,'customer')}?'':'display:none;'"></th>
												<th class="numeric accepter"
													th:style="${#lists.contains(listColums,'accepter')}?'':'display:none;'"></th>
												<th class="numeric outboundOrder"
													th:style="${#lists.contains(listColums,'outboundOrder')}?'':'display:none;'"></th>
												<th class="numeric inprice" id="heji"
													th:style="${#lists.contains(listColums,'inprice')}?'':'display:none;'">[[${#aggregates.sum(pageList?.datas.![inprice==null?0:inprice])}]]</th>
												<th class="numeric sailPrice" id="sailPrice"
													th:style="${#lists.contains(listColums,'sailPrice')}?'':'display:none;'">[[${#aggregates.sum(pageList?.datas.![sailPrice==null?0:sailPrice])}]]</th>
												<th class="numeric sailesInvoiceNo"
													th:style="${#lists.contains(listColums,'sailesInvoiceNo')}?'':'display:none;'"></th>
												<th class="numeric sailesInvoiceDate"
													th:style="${#lists.contains(listColums,'sailesInvoiceDate')}?'':'display:none;'"></th>
												<th class="numeric purchaseInvoiceDate"
													th:style="${#lists.contains(listColums,'purchaseInvoiceDate')}?'':'display:none;'"></th>
												<th class="numeric purchaseInvoiceNo"
													th:style="${#lists.contains(listColums,'purchaseInvoiceNo')}?'':'display:none;'"></th>
												<th class="numeric receiptNo"
													th:style="${#lists.contains(listColums,'receiptNo')}?'':'display:none;'"></th>
												<th class="numeric paymentOrderNo"
													th:style="${#lists.contains(listColums,'paymentOrderNo')}?'':'display:none;'"></th>

												<th class="numeric user"
													th:style="${#lists.contains(listColums,'user')}?'':'display:none;'"></th>
												<th class="numeric description"
													th:style="${#lists.contains(listColums,'description')}?'':'display:none;'"></th>
												<th class="numeric revoke"
													th:style="${#lists.contains(listColums,'revoke')}?'':'display:none;'"></th>
												<th class="numeric sign"
													th:style="${#lists.contains(listColums,'sign')}?'':'display:none;'"></th>
												<th class="numeric othersign"
													th:style="${#lists.contains(listColums,'othersign')}?'':'display:none;'"></th>
												<th class="numeric ssC"
													th:style="${#lists.contains(listColums,'ssC')}?'':'display:none;'"></th>
												<th class="numeric"></th>
											</tr>
										</thead>
										
										</shiro:hasPermission>
										
										
										
										
										
										
										
										
										
										
									</table>
								</div>
								<form method="post" id="deleteForm">
									<input name="_method" value="delete" type="hidden">
								</form>

								<div class="row">

									<div class="col-md-12">
										<div class="col-md-6">
											<div class="dataTables_info hidden-xs"
												style="margin-top: 0px;" role="status" aria-live="polite"
												th:text="|当前页共${#lists.size(pageList?.datas)}行
										－ 当前页${pageList?.pageNo}页 － 共${pageList?.totalPage}页|"></div>
										</div>
										<div class="col-md-6">
											<ul class="pagination pagination-split pull-right"
												style="margin-top: 0px;">

<!--												<li th:class="${pageList?.pageNo } eq 1 ?disabled:''"><a-->
<!--													th:href="${pageList?.pageNo} eq 1?'javascript:void(0);':@{/stockStatisticss(pageNo=1,pageSize=${pageSize},search=${search},searchArea=${searchArea},type=${type},start=${start},end=${end},userId=${userId},revoke=${revoke},confirm=${confirm})}">首页</a>-->
<!--												</li>-->
<!--												<li th:class="${pageList?.pageNo } eq 1 ?disabled:''"><a-->
<!--													th:href="${pageList?.pageNo} eq 1?'javascript:void(0);':@{/stockStatisticss(pageNo=${pageList?.upPage},pageSize=${pageSize},search=${search},searchArea=${searchArea},type=${type},start=${start},end=${end},userId=${userId},revoke=${revoke},confirm=${confirm})}">上一页</a>-->
<!--												</li>-->
<!--												<li th:each="page:${pageList?.navigatepageNums}"-->
<!--													th:class="${page  == pageList?.pageNo}?active:''"><a-->
<!--													th:href="${page eq pageList?.pageNo}?'javascript:void(0)':@{/stockStatisticss(pageNo=${page},pageSize=${pageSize},search=${search},searchArea=${searchArea},type=${type},start=${start},end=${end},userId=${userId},revoke=${revoke},confirm=${confirm})}">[[${page}]]</a>-->
<!--												</li>-->
<!--												<li-->
<!--													th:class="${pageList?.pageNo eq pageList?.totalPage}?disabled:''">-->
<!--													<a-->
<!--													th:href="${pageList?.pageNo eq pageList?.totalPage}?'javascript:void(0);':@{/stockStatisticss(pageNo=${pageList?.nextPage},pageSize=${pageSize},search=${search},searchArea=${searchArea},type=${type},start=${start},end=${end},userId=${userId},revoke=${revoke},confirm=${confirm})}">下一页</a>-->
<!--												</li>-->
<!--												<li-->
<!--													th:class="${pageList?.pageNo eq pageList?.totalPage}?disabled:''">-->
<!--													<a-->
<!--													th:href="${pageList?.pageNo eq pageList?.totalPage}?'javascript:void(0);':@{/stockStatisticss(pageNo=${pageList?.totalPage},pageSize=${pageSize},search=${search},searchArea=${searchArea},type=${type},start=${start},end=${end},userId=${userId},revoke=${revoke},confirm=${confirm})}">尾页</a>-->
<!--												</li>-->
<!--												<li><input class="form-control" id="searchN" style="width: 60px;" type="number" placeholder="" /> <a href="javascript:void(0);" th:onclick="|return searchbyN('${pageSize}','${search}','${searchArea}','${pageList.totalPage}','${type}','${start}','${end}','${revoke}','${confirm}','${userId}','${ssC}')|">跳转</a></li>-->
<!--												-->
												<li th:class="${pageList.pageNo } eq 1 ?disabled:''"><a
														th:href="${pageList.pageNo} eq 1?'javascript:void(0);':'#'"
														th:onclick="|return pageS('1','${pageSize}','${pageList.totalPage}','${Bo}')|">首页</a>
												</li>


												<li th:class="${pageList.pageNo } eq 1 ?disabled:''"><a
														th:href="${pageList.pageNo} eq 1?'javascript:void(0);':'#'"
														th:onclick="|return pageS('${pageList.upPage}','${pageSize}','${pageList.totalPage}','${Bo}')|">上一页</a>
												</li>


												<li th:each="page:${pageList.navigatepageNums}"
													th:class="${page  == pageList.pageNo}?active:''"><a
														th:href="${page eq pageList.pageNo}?'javascript:void(0)':'#'"
														th:onclick="|return pageS('${page}','${pageSize}','${pageList.totalPage}','${Bo}')|">[[${page}]]</a>
												</li>


												<li th:class="${pageList.pageNo eq pageList.totalPage}?disabled:''">
													<a th:href="${pageList.pageNo eq pageList.totalPage}?'javascript:void(0);':'#'"
													   th:onclick="|return pageS('${pageList.nextPage}','${pageSize}','${pageList.totalPage}','${Bo}')|">下一页</a>
												</li>


												<li th:class="${pageList.pageNo eq pageList.totalPage}?disabled:''">
													<a th:href="${pageList.pageNo eq pageList.totalPage}?'javascript:void(0);':'#'"
													   th:onclick="|return pageS('${pageList.totalPage}','${pageSize}','${pageList.totalPage}','${Bo}')|">尾页</a>
												</li>

												<li><input class="form-control" id="searchN" style="width: 60px;"
														   type="number" placeholder=""/> <a href="javascript:void(0);"
																							 th:onclick="|return searchbyN('${pageSize}','${pageList.totalPage}','${Bo}')|">跳转</a>
												</li>
											</ul>
										</div>
									</div>

									<!-- 分页结束 -->
								</div>

							</section>

						</div>

					</div>


				</div>

			</div>
		</div>

		<div th:replace="public/public::myModal"></div>
		<div th:replace="admin/stockStatistics/column::mycolumn"></div>
		<div th:replace="admin/stockStatistics/column::mycolumn2"></div>
		<div th:replace="admin/stockStatistics/revoke::myrevoke"></div>
		<div th:replace="admin/stockStatistics/batcheditstockstatistics::editStockStatistics"></div>
	</div>
	<!-- 引入stockStatisticslist.js -->
	<script type="text/javascript" th:inline="javascript"
		th:src="@{/js/admin/stockStatistics/stockStatistics.js}"></script>
		
	<script type="text/javascript" th:inline="javascript"
		th:src="@{/js/admin/stockStatistics/batcheditstockstatistics.js}"></script>
		
		<shiro:hasPermission 	name="stockStatistics:edit">
	<script type="text/javascript" th:inline="javascript"
		th:src="@{/js/admin/stockStatistics/changevalue.js}"></script>
		</shiro:hasPermission>
		
		
	<div th:replace="admin/stock/showQRCode::showqrcode"></div>
	<!-- 右侧隐藏菜单start -->
	<div th:replace="public/public::right"></div>
	<!-- 右侧隐藏菜单end-->
	<!-- 底部js -->
	<div th:replace="public/public_js::pub_js"></div>
	<div th:replace="public/public_js::public_script"></div>
	<div th:replace="public/public::footer"></div>
	<!-- Jquery Validate -->
	<script type="text/javascript"
		th:src="@{/plugs/validate/jquery.validate.min.js}"></script>
	<script type="text/javascript"
		th:src="@{/plugs/validate/messages_zh.min.js}"></script>
	<!-- Sweet alert -->
	<script th:src="@{/plugs/sweetalert/sweetalert.min.js}"></script>
	<div th:replace="public/public_js::validator"></div>
	<script th:src="@{/assets/js/select/bootstrap-select.js}"
			type="text/javascript"></script>
	<script type="text/javascript" th:inline="javascript">
		function setProjectName(o) {
			$("#projectName").val(o)
		}

		function setbatchProjectName(o) {
			$("#batchprojectName").val(o)
		}
		function isEmpty(value) {
			return value === "" || value === undefined || value === null;
		}

		$(function(){
			var sysModuleCode=/* <![CDATA[ */ [[${requestBo?.ssC}]] /*]]>*/
			if(!isEmpty(sysModuleCode)){
				var moduleCodeArr = sysModuleCode.split(",");
				if (moduleCodeArr.length > 0) {
					// var rtype = document.getElementById("searchArea");
					for (var j = 0; j < moduleCodeArr.length; j++) {
						$('#searchssC').val(moduleCodeArr[j]).prop('selected', true);

					}
				}
			}
			$("#searchssC").selectpicker("val", moduleCodeArr);
			$("#searchssC").selectpicker("refresh");

		})

		$(function(){
			var sysModuleCode=/* <![CDATA[ */ [[${requestBo?.searchArea}]] /*]]>*/
			if(!isEmpty(sysModuleCode)){
				var moduleCodeArr = sysModuleCode.split(",");
				if (moduleCodeArr.length > 0) {
					// var rtype = document.getElementById("searchArea");
					for (var j = 0; j < moduleCodeArr.length; j++) {
						$('#searchArea').val(moduleCodeArr[j]).prop('selected', true);

					}
				}
			}
			$("#searchArea").selectpicker("val", moduleCodeArr);
			$("#searchArea").selectpicker("refresh");

		})
	</script>
</body>

</html>
