<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head th:include="public/public_css::pub_css"></head>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css"
          th:href="@{/assets/js/progress-bar/number-pb.css}">
    <link th:href="@{/plugs/sweetalert/sweetalert.css}" rel="stylesheet">
    <link th:href="@{/plugs/alert/css/alert.css}" rel="stylesheet">
    <script type="text/javascript" th:src="@{/plugs/alert/js/alert.js}"></script>
    <link th:href="@{plugs/autoComplete/content/styles.css}"
          rel="stylesheet"/>
    <link rel="stylesheet" th:href="@{/assets/css/bootstrap-select.css}">
</head>

<body>
<!-- Preloader -->
<div id="preloader">
    <div id="status">&nbsp;</div>
</div>
<!-- TOP NAVBAR -->
<div th:replace="public/public::top"></div>
<!-- /END OF TOP NAVBAR -->

<!-- SIDE MENU -->
<div th:replace="public/public::left(activeUri='stockManager')"></div>
<!-- END OF SIDE MENU -->

<!--  PAPER WRAP -->
<div class="wrap-fluid">
    <div class="container-fluid paper-wrap bevel tlbr">


        <!-- CONTENT -->
        <!--TITLE -->
        <div th:replace="public/public::title"></div>
        <!--/ TITLE -->

        <!-- BREADCRUMB -->
        <div th:replace="public/public::menu"></div>
        <!-- END OF BREADCRUMB -->


        <div class="content-wrap">
            <div class="row">


                <div class="col-sm-12">
                    <div class="body-nest" id="alert" th:if="${errorImport!=''}">
                        <div class="alert alert-danger">
                            <button data-dismiss="alert" class="close" type="button">×</button>
                            <th:block th:utext="${errorImport}">
                            </th:block>
                        </div>

                    </div>


                    <div class="nest" id="tableStaticClose">

                        <div class="title-alt">
                            <div class="row">
                                <div class="col-sm-12">

                                    <shiro:hasPermission name="stock:add">
                                        <button class="btn btn-default btn-sm"
                                                th:onclick="|window.location.href='@{/stock}'|">
                                            <i class="glyphicon glyphicon-plus"> </i> 添加
                                        </button>
                                    </shiro:hasPermission>


                                    <shiro:hasPermission name="preStock:add">
                                        <button class="btn btn-default btn-sm"
                                                th:onclick="|window.location.href='@{/preStocks?urlid=613702586865fdb7c8ab399f}'|">
                                            <i class="glyphicon glyphicon-plus"> </i> 预库存管理
                                        </button>
                                    </shiro:hasPermission>

                                    <button class="btn btn-default btn-sm"
                                            onclick="return toDownloadQRcode('')">
                                        <i class="icon icon-view-thumb"> </i> 下载二维码
                                    </button>

                                    <shiro:hasPermission name="stock:edit">
                                        <button class="btn btn-primary btn-sm"
                                                onclick="return toeditPage('','stock')">
                                            <i class="fa fa-edit"> </i>编辑
                                        </button>
                                    </shiro:hasPermission>

                                    <shiro:hasPermission name="stock:delete">
                                        <button class="btn btn-danger btn-sm"
                                                th:onclick="|return del('','@{/stock/}')|">
                                            <i class="fa fa-trash-o"> </i>删除
                                        </button>
                                    </shiro:hasPermission>

                                    <shiro:hasPermission name="stock:batch">
                                        <button class="btn btn-success" onclick="return batchImput()">
                                            <i class="fontawesome-upload"> </i>批量导入
                                        </button>
                                    </shiro:hasPermission>
                                    <shiro:hasPermission name="stockStatistics:out">
                                        <button class="btn btn-success" onclick="return batchOut()">
                                            <i class="fontawesome-upload"> </i>批量出库
                                        </button>
                                    </shiro:hasPermission>

                             <!--        <shiro:hasPermission name="stock:financial">
                                        <button class="btn btn-info dropdown-toggle"
                                                onclick="return batchPaymentOrderNo()">
                                            <i class="icon icon-document-edit"> </i>采购付款单修改
                                        </button>
                                    </shiro:hasPermission> -->

                                    <button class="btn btn-default" onclick="return showColumn()">
                                        <i class="entypo-list-add"> </i>显示列
                                    </button>

<!--                                    <button class="btn btn-default" onclick="return toExport()">-->
<!--                                        <i class="entypo-export"> </i>导出库存报表-->
<!--                                    </button>-->

                                    <button class="btn btn-default" th:onclick="|return toExportTJ('${Bo}')|">
                                        <i class="entypo-export"> </i>导出库存报表(新增)
                                    </button>


                                </div>
                                <!--									<div class="col-sm-4"></div>-->


                            </div>
                        </div>

                        <div class="body-nest" id="tableStatic">

                            <!--								<div class="row" style="margin-bottom: 10px;">-->
                            <!--									<div class="col-sm-7 form-inline">-->

                            <!--										<select class="filter-status form-control" id="searchArea"-->
                            <!--											onchange="return searchVal()">-->
                            <!--											<option value="">&#45;&#45;选择区域&#45;&#45;</option>-->
                            <!--											<option th:selected="${session.searchArea}==${area?.id}"-->
                            <!--												th:each="area:${areas}" th:value="${area?.id}"-->
                            <!--												th:text="${area?.name}"></option>-->

                            <!--										</select>-->

                            <!--										<select class="filter-status form-control" id="searchssC"-->
                            <!--												onchange="return searchVal()">-->
                            <!--											<option value="">&#45;&#45;选择分类&#45;&#45;</option>-->
                            <!--											<option th:selected="${session.ssC}==${sC?.id}"-->
                            <!--													th:each="sC:${ssCs}" th:value="${sC?.id}"-->
                            <!--													th:text="${sC?.name}"></option>-->

                            <!--										</select>-->


                            <!--										<select class="filter-status form-control" id="pageSize"-->
                            <!--											onchange="return searchVal()">-->
                            <!--											<option value="10" th:selected="${session.pageSize == 10}">10-->

                            <!--											-->
                            <!--											<option value="20" th:selected="${session.pageSize == 20}">20-->

                            <!--											-->
                            <!--											<option value="50" th:selected="${session.pageSize == 50}">50-->

                            <!--											-->
                            <!--											<option value="100" th:selected="${session.pageSize == 100}">100-->

                            <!--											-->
                            <!--										</select> <select class="filter-status form-control" id="agent"-->
                            <!--											onchange="return searchVal()">-->
                            <!--											<option value="" selected>&#45;&#45;选择商品类别&#45;&#45;</option>-->
                            <!--											<option value="true"-->
                            <!--												th:selected="${session.searchAgent=='true'}">代理商品</option>-->
                            <!--											<option value="false"-->
                            <!--												th:selected="${session.searchAgent=='false'}">非代理商品</option>-->
                            <!--										</select> <input class="form-control" id="serach" placeholder="模糊匹配"-->
                            <!--											th:value="${session.search}" type="text">-->
                            <!--										<button class="btn btn-default btn-sm"-->
                            <!--											onclick="return searchVal()">-->
                            <!--											<i class="entypo-search"> </i> 搜索-->
                            <!--										</button>-->
                            <!--										<button class="btn btn-default btn-sm"-->
                            <!--											onclick="return cleanSearch()">-->
                            <!--											<i class="fontawesome-remove"> </i> 清除搜索条件-->
                            <!--										</button>-->
                            <!--									</div>-->


                            <!--								</div>-->

                            <div class="row" style="margin-bottom: 10px;">
                                <div class="col-sm-12 form-inline" style="margin-bottom: 10px;">
                                    <label class="control-label text-muted">设备名称：</label>
                                    <input class="form-control" name="name" placeholder=""
                                           type="text" th:value="${requestBo?.name}">
                                    <label class="control-label text-muted">设备型号：</label>
                                    <input class="form-control" name="model" placeholder=""
                                           type="text" th:value="${requestBo?.model}">
                                    <label class="control-label text-muted">供应商：</label>
                                    <input class="form-control" name="supplier" placeholder=""
                                           type="text" th:value="${requestBo?.supplier}">
                                    <label class="control-label text-muted">项目名称：</label>
                                    <input class="form-control" name="entryName" placeholder=""
                                           type="text" th:value="${requestBo?.entryName}">
                                </div>

                                <div class="col-sm-12 form-inline" style="margin-bottom: 10px;">
                                    <label class="control-label text-muted">采购付款申请单：</label>
                                    <input class="form-control" name="itemNo" placeholder=""
                                           type="text" th:value="${requestBo?.itemNo}">
<!--                                    <label class="control-label text-muted">采购发票号：</label>-->
<!--                                    <input class="form-control" name="purchaseInvoiceNo" placeholder=""-->
<!--                                           type="text" th:value="${requestBo?.purchaseInvoiceNo}">-->
<!--                                    <label class="control-label text-muted">采购发票到票日期：</label>-->
<!--                                    <input class="form-control" name="purchaseInvoiceDate" placeholder=""-->
<!--                                           type="text" th:value="${requestBo?.purchaseInvoiceDate}">-->
<!--                                    <label class="control-label text-muted">银行付款日期：</label>-->
<!--                                    <input class="form-control" name="paymentOrderNo" placeholder=""-->
<!--                                           type="text" th:value="${requestBo?.paymentOrderNo}">-->
                                </div>

                                <div class="col-sm-7 form-inline">
                                    <select class="filter-status form-control" id="pageSize">
                                        <option value="10" th:selected="${session.pageSize == 10}">10
                                        <option value="20" th:selected="${session.pageSize == 20}">20
                                        <option value="50" th:selected="${session.pageSize == 50}">50
                                        <option value="100" th:selected="${session.pageSize == 100}">100
                                    </select>
                                    <select multiple class="filter-status form-control selectpicker" id="searchssC"
                                            data-max-options="5" title="选择分类">
                                        <option th:selected="${requestBo?.ssC}==${sC?.id}"
                                                th:each="sC:${ssCs}" th:value="${sC?.id}"
                                                th:text="${sC?.name}"></option>
                                    </select>
                                    <select multiple class="filter-status form-control selectpicker" id="searchArea"
                                            data-max-options="5" title="选择区域">
                                        <option th:selected="${requestBo?.searchArea}==${area?.id}"
                                                th:each="area:${areas}" th:value="${area?.id}"
                                                th:text="${area?.name}"></option>
                                    </select>
                                    <button class="btn btn-default btn-sm"
                                            onclick="return searchBo()">
                                        <i class="entypo-search"> </i> 搜索
                                    </button>
                                </div>

                            </div>

                            <div class="col-sm-5"></div>

                        </div>


                        <section id="flip-scroll">
                            <div
                                    style="overflow-y: auto; overflow-x: auto; white-space: nowrap; text-overflow: ellipsis;">
                                <table
                                        class="table table-bordered table-striped cf text-nowrap  table-hover">
                                    <thead class="cf">
                                    <tr>
                                        <th class="numeric" style="width: 20px;">
                                            <div class="checkbox checkbox-inline"
                                                 style="margin-top: 0px;">
                                                <input type="checkbox" id="checkall" name="checkall"/> <label
                                                    for="checkall"></label>
                                            </div>
                                        </th>
                                        <th class="numeric area"
                                            th:style="${#lists.contains(listColums,'area')}?'':'display:none;'">区域
                                        </th>
                                        <th class="numeric name"
                                            th:style="${#lists.contains(listColums,'name')}?'':'display:none;'">设备名称
                                        </th>
                                        <th class="numeric model"
                                            th:style="${#lists.contains(listColums,'model')}?'':'display:none;'">设备型号
                                        </th>
                                        <th class="numeric entryName"
                                            th:style="${#lists.contains(listColums,'entryName')}?'':'display:none;'">
                                            项目名称
                                        </th>
                                        <th class="numeric itemNo"
                                            th:style="${#lists.contains(listColums,'itemNo')}?'':'display:none;'">
                                            采购付款申请单编码
                                        </th>
                                        <!-- <th class="numeric scope"
                                            th:style="${#lists.contains(listColums,'scope')}?'':'display:none;'">使用范围</th> -->
                                        <th class="numeric brand"
                                            th:style="${#lists.contains(listColums,'brand')}?'':'display:none;'">品牌
                                        </th>
                                        <th class="numeric goodsStorage"
                                            th:style="${#lists.contains(listColums,'goodsStorage')}?'':'display:none;'">
                                            货架号(区域)/层
                                        </th>
                                        <th class="numeric price"
                                            th:style="${#lists.contains(listColums,'price')}?'':'display:none;'">单价
                                        </th>
                                        <!-- <th class="numeric receivables"
                                            th:style="${#lists.contains(listColums,'receivables')}?'':'display:none;'">应收款</th> -->
                                        <th class="numeric agent"
                                            th:style="${#lists.contains(listColums,'agent')}?'':'display:none;'">代理商品
                                        </th>
                                        <th class="numeric unit"
                                            th:style="${#lists.contains(listColums,'unit')}?'':'display:none;'">计量单位
                                        </th>
                                        <!-- 	<th class="numeric maintenance"
                                            th:style="${#lists.contains(listColums,'maintenance')}?'':'display:none;'">维保</th> -->
                                        <th class="numeric supplier"
                                            th:style="${#lists.contains(listColums,'supplier')}?'':'display:none;'">供应商
                                        </th>
                                        <th class="numeric inventory"
                                            th:style="${#lists.contains(listColums,'inventory')}?'':'display:none;'">库存量
                                        </th>
                                        <th class="numeric email"
                                            th:style="${#lists.contains(listColums,'email')}?'':'display:none;'">供应商邮箱
                                        </th>
                                        <th class="numeric ssC"
                                            th:style="${#lists.contains(listColums,'ssC')}?'':'display:none;'">分类
                                        </th>

                                        <th class="numeric">使用状态</th>
                                        <th class="numeric">操作</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <!-- 目录 -->
                                    <th:block th:each="stock:${pageList.datas}"
                                              th:if="${stock?.supplier?.isDisable == false || stock?.supplier == null}">
                                        <tr>
                                            <td class="numeric">
                                                <div class="checkbox checkbox-inline"
                                                     style="margin-top: 0px;">
                                                    <input type="checkbox" name="ids" th:id="${stock.id}"
                                                           class="numeric" th:value="${stock.id}"> <label
                                                        th:for="${stock.id}"></label>
                                                </div>
                                            </td>
                                            <td class="numeric area" id="area"
                                                th:style="${#lists.contains(listColums,'area')}?'':'display:none;'">
                                                [[${stock?.area?.name}]]
                                            </td>
                                            <td class="numeric name" id="name"
                                                th:style="${#lists.contains(listColums,'name')}?'':'display:none;'">
                                                <a href="javascript:;" th:title="${stock?.name}"
                                                   th:onclick="|return toStatistics('${stock?.id}')|"
                                                   th:text="${#strings.abbreviate(stock?.name,30)}"></a>
                                            </td>
                                            <td class="numeric model" id="model"
                                                th:title="${stock?.model}"
                                                th:style="${#lists.contains(listColums,'model')}?'':'display:none;'"
                                                th:text="${#strings.abbreviate(stock?.model,30)}"></td>
                                            <td class="numeric entryName" id="entryName"
                                                th:style="${#lists.contains(listColums,'entryName')}?'':'display:none;'">
                                                [[${stock?.entryName}]]
                                            </td>
                                            <td class="numeric itemNo" th:id="|itemNo_${stock?.id}|"
                                                th:style="${#lists.contains(listColums,'itemNo')}?'':'display:none;'">
                                                [[${stock?.itemNo}]]
                                            </td>
                                            <!-- <td class="numeric scope" id="scope"
                                                th:style="${#lists.contains(listColums,'scope')}?'':'display:none;'">[[${stock?.scope}]]</td> -->
                                            <td class="numeric brand" id="scope"
                                                th:style="${#lists.contains(listColums,'brand')}?'':'display:none;'">
                                                [[${stock?.brand?.name}]]
                                            </td>
                                            <td class="numeric goodsStorage" id="goodsStorage"
                                                th:style="${#lists.contains(listColums,'goodsStorage')}?'':'display:none;'"
                                                th:text="|${stock?.goodsStorage?.shelfNumber}${stock?.goodsStorage?.shelflevel==''?'':'/'}${stock?.goodsStorage?.shelflevel}|"></td>
                                            <td class="numeric price" id="price"
                                                th:style="${#lists.contains(listColums,'price')}?'':'display:none;'">
                                                [[${stock?.price}]]
                                            </td>
                                            <td class="numeric agent" id="agent"
                                                th:style="${#lists.contains(listColums,'agent')}?'':'display:none;'">
                                                <label
                                                        th:style="${stock?.agent }?'color:green':'color:red'">[[${stock?.agent
                                                    }?'是':'否']] </label>
                                            </td>
                                            <td class="numeric unit" id="unit"
                                                th:style="${#lists.contains(listColums,'unit')}?'':'display:none;'">
                                                [[${stock?.unit?.name}]]
                                            </td>
                                            <!-- <td class="numeric maintenance" id="maintenance"
                                                th:style="${#lists.contains(listColums,'maintenance')}?'':'display:none;'">[[${stock?.maintenance}]]</td> -->
                                            <td class="numeric supplier" id="supplier"
                                                th:style="${#lists.contains(listColums,'supplier')}?'':'display:none;'">
                                                <a href="javascript:;"
                                                   th:onclick="|return showSupplier('${stock?.supplier?.id}')|">[[${stock?.supplier?.name}]]</a>
                                            </td>
                                            <td class="numeric inventory"
                                                th:id="|inventory_${stock?.id}|"
                                                th:style="${#lists.contains(listColums,'inventory')}?'':'display:none;'">
                                                <label
                                                        th:style="${stock?.inventory > 5}?'color:green':${stock?.inventory == 0?'color:red':'color:blue'}">[[${stock?.inventory}]]</label>
                                            </td>
                                            <td class="numeric email" id="email"
                                                th:style="${#lists.contains(listColums,'email')}?'':'display:none;'">
                                                [[${stock?.supplier?.email}]]
                                            </td>

                                            <td class="numeric ssC" id="ssC"
                                                th:style="${#lists.contains(listColums,'ssC')}?'':'display:none;'">
                                                [[${stock?.systemClassification?.name}]]
                                            </td>

                                            <td class="numeric" th:id="disBtn+${stock.id}"
                                                th:utext="${stock.isDisable eq true }?|<button type='button' onclick=toDisable('${stock.id}','stock') class='btn btn-danger'>禁用</button>|:|<button type='button' onclick=toDisable('${stock.id}','stock') class='btn btn-success'>启用</button>|"></td>
                                            <td class="numeric">

                                                <shiro:hasPermission name="preStock:in">
                                                    <button class="btn source btn-xs" title="库存预入库"
                                                            th:onclick="|return topreStock('${stock?.id}')|">
                                                        <i class="entypo-download"> </i>
                                                    </button>
                                                </shiro:hasPermission>
                                                 <shiro:hasPermission name="stock:copy">
                                                    <button class="btn source btn-xs" title="复制"
                                                            th:onclick="|return copyStock('${stock?.name}','${stock?.id}')|">
                                                        <i class="fontawesome-paste"> </i>
                                                    </button>
                                                </shiro:hasPermission>
                                                <shiro:hasPermission
                                                        name="stockStatistics:in">
                                                    <button class="btn source btn-xs" title="入库"
                                                            th:onclick="|return showStockStatistics('${stock.id}')|">
                                                        <i class="entypo-download"> </i>
                                                    </button>
                                                </shiro:hasPermission>
                                                <shiro:hasPermission name="stockStatistics:out">
                                                    <button class="btn source btn-xs" title="出库"
                                                            th:onclick="|return showStockStatistics2('${stock.id}')|">
                                                        <i class="entypo-upload"> </i>
                                                    </button>
                                                </shiro:hasPermission>
                                                <shiro:hasPermission name="stockStatistics:out">
                                                    <button class="btn source btn-xs" title="加入出库列表"
                                                            th:onclick="|return addToStocklist('${stock.id}')|">
                                                        <i class="fontawesome-share"> </i>
                                                    </button>
                                                </shiro:hasPermission>


                                                <button class="btn btn-default btn-sm" title="下载出库二维码"
                                                        th:onclick="|return toDownloadQRcode('${stock?.id}')|">
                                                    <i class="fontawesome-cloud-download"> </i>

                                                </button>
                                                <button class="btn btn-default btn-sm" title="出库二维码"
                                                        th:onclick="|return showQRCode('${stock?.id}','${stock?.name}')|">
                                                    <i class="icon icon-view-thumb"> </i>

                                                </button>


                                                <shiro:hasPermission name="stock:edit">
                                                    <button class="btn btn-primary btn-xs" title="编辑库存"
                                                            th:onclick="|return toeditPage('${stock.id}','stock')|">
                                                        <i class="fa fa-edit"> </i>
                                                    </button>
                                                </shiro:hasPermission>
                                                <shiro:hasPermission name="stock:delete">
                                                    <button class="btn btn-danger btn-xs" title="删除库存"
                                                            th:onclick="|return del('@{/stock/}${stock.id}','')|">
                                                        <i class="fa fa-trash-o"> </i>
                                                    </button>
                                                </shiro:hasPermission>
                                            </td>
                                        </tr>
                                        <!-- 菜单 -->
                                    </th:block>


                                    </tbody>

                                    <thead class="cf">
                                    <tr>
                                        <th class="numeric">
                                            合计
                                        </th>

                                        <th class="numeric area"
                                            th:style="${#lists.contains(listColums,'area')}?'':'display:none;'"></th>
                                        <th class="numeric name"
                                            th:style="${#lists.contains(listColums,'name')}?'':'display:none;'"></th>
                                        <th class="numeric model"
                                            th:style="${#lists.contains(listColums,'model')}?'':'display:none;'"></th>
                                        <th class="numeric entryName"
                                            th:style="${#lists.contains(listColums,'entryName')}?'':'display:none;'"></th>
                                        <th class="numeric itemNo"
                                            th:style="${#lists.contains(listColums,'itemNo')}?'':'display:none;'"></th>
                                        <!-- <th class="numeric scope"
                                            th:style="${#lists.contains(listColums,'scope')}?'':'display:none;'">使用范围</th> -->
                                        <th class="numeric brand"
                                            th:style="${#lists.contains(listColums,'brand')}?'':'display:none;'"></th>
                                        <th class="numeric goodsStorage"
                                            th:style="${#lists.contains(listColums,'goodsStorage')}?'':'display:none;'"></th>
                                        <th class="numeric price"
                                            th:style="${#lists.contains(listColums,'price')}?'':'display:none;'"></th>
                                        <!-- <th class="numeric receivables"
                                            th:style="${#lists.contains(listColums,'receivables')}?'':'display:none;'">应收款</th> -->
                                        <th class="numeric agent"
                                            th:style="${#lists.contains(listColums,'agent')}?'':'display:none;'"></th>
                                        <th class="numeric unit"
                                            th:style="${#lists.contains(listColums,'unit')}?'':'display:none;'"></th>
                                        <!-- 	<th class="numeric maintenance"
                                            th:style="${#lists.contains(listColums,'maintenance')}?'':'display:none;'">维保</th> -->
                                        <th class="numeric supplier"
                                            th:style="${#lists.contains(listColums,'supplier')}?'':'display:none;'"></th>
                                        <th class="numeric inventory"
                                            th:style="${#lists.contains(listColums,'inventory')}?'':'display:none;'">
                                            [[${#aggregates.sum(pageList?.datas.![inventory==null?0:inventory])}]]
                                        </th>
                                        <th class="numeric email"
                                            th:style="${#lists.contains(listColums,'email')}?'':'display:none;'"></th>
                                        <th class="numeric ssC"
                                            th:style="${#lists.contains(listColums,'ssC')}?'':'display:none;'"></th>
                                        <th class="numeric"></th>
                                        <th class="numeric"></th>
                                    </tr>
                                    </thead>


                                </table>
                            </div>
                            <form method="post" id="deleteForm">
                                <input name="_method" value="delete" type="hidden">
                            </form>

                            <div class="row">

                                <div class="col-md-12">
                                    <div class="col-md-6">
                                        <div class="dataTables_info hidden-xs"
                                             style="margin-top: 0px;" role="status" aria-live="polite"
                                             th:text="|每页显示${pageList.pageSize}行
										－ 当前页${pageList.pageNo}页 － 共${pageList.totalPage}页|"></div>
                                    </div>
                                    <div class="col-md-6">
                                        <ul class="pagination pagination-split pull-right"
                                            style="margin-top: 0px;">
                                            <!--												<li th:class="${pageList.pageNo } eq 1 ?disabled:''"><a-->
                                            <!--													th:href="${pageList.pageNo} eq 1?'javascript:void(0);':@{/stocks(pageNo=1,pageSize=${session.pageSize},id=${id},searchArea=${session.searchArea})}">首页</a>-->
                                            <!--												</li>-->
                                            <!--												<li th:class="${pageList.pageNo } eq 1 ?disabled:''"><a-->
                                            <!--													th:href="${pageList.pageNo} eq 1?'javascript:void(0);':@{/stocks(pageNo=${pageList.upPage},pageSize=${session.pageSize},id=${id},searchArea=${session.searchArea})}">上一页</a>-->
                                            <!--												</li>-->
                                            <!--												<li th:each="page:${pageList.navigatepageNums}"-->
                                            <!--													th:class="${page  == pageList.pageNo}?active:''"><a-->
                                            <!--													th:href="${page eq pageList.pageNo}?'javascript:void(0)':@{/stocks(pageNo=${page},pageSize=${session.pageSize},id=${id},searchArea=${session.searchArea})}">[[${page}]]</a>-->
                                            <!--												</li>-->
                                            <!--												<li th:class="${pageList.pageNo eq pageList.totalPage}?disabled:''">-->
                                            <!--													<a th:href="${pageList.pageNo eq pageList.totalPage}?'javascript:void(0);':@{/stocks(pageNo=${pageList.nextPage},pageSize=${session.pageSize},id=${id},searchArea=${session.searchArea})}">下一页</a>-->
                                            <!--												</li>-->
                                            <!--												<li th:class="${pageList.pageNo eq pageList.totalPage}?disabled:''">-->
                                            <!--													<a th:href="${pageList.pageNo eq pageList.totalPage}?'javascript:void(0);':@{/stocks(pageNo=${pageList.totalPage},pageSize=${session.pageSize},id=${id},searchArea=${session.searchArea})}">尾页</a>-->
                                            <!--												</li>-->

                                            <li th:class="${pageList.pageNo } eq 1 ?disabled:''"><a
                                                    th:href="${pageList.pageNo} eq 1?'javascript:void(0);':'#'"
                                                    th:onclick="|return pageS('1','${session.pageSize}','${pageList.totalPage}','${Bo}')|">首页</a>
                                            </li>


                                            <li th:class="${pageList.pageNo } eq 1 ?disabled:''"><a
                                                    th:href="${pageList.pageNo} eq 1?'javascript:void(0);':'#'"
                                                    th:onclick="|return pageS('${pageList.upPage}','${session.pageSize}','${pageList.totalPage}','${Bo}')|">上一页</a>
                                            </li>


                                            <li th:each="page:${pageList.navigatepageNums}"
                                                th:class="${page  == pageList.pageNo}?active:''"><a
                                                    th:href="${page eq pageList.pageNo}?'javascript:void(0)':'#'"
                                                    th:onclick="|return pageS('${page}','${session.pageSize}','${pageList.totalPage}','${Bo}')|">[[${page}]]</a>
                                            </li>


                                            <li th:class="${pageList.pageNo eq pageList.totalPage}?disabled:''">
                                                <a th:href="${pageList.pageNo eq pageList.totalPage}?'javascript:void(0);':'#'"
                                                   th:onclick="|return pageS('${pageList.nextPage}','${session.pageSize}','${pageList.totalPage}','${Bo}')|">下一页</a>
                                            </li>


                                            <li th:class="${pageList.pageNo eq pageList.totalPage}?disabled:''">
                                                <a th:href="${pageList.pageNo eq pageList.totalPage}?'javascript:void(0);':'#'"
                                                   th:onclick="|return pageS('${pageList.totalPage}','${session.pageSize}','${pageList.totalPage}','${Bo}')|">尾页</a>
                                            </li>

                                            <li><input class="form-control" id="searchN" style="width: 60px;"
                                                       type="number" placeholder=""/> <a href="javascript:void(0);"
                                                                                         th:onclick="|return searchbyN('${session.pageSize}','${pageList.totalPage}','${Bo}')|">跳转</a>
                                            </li>

                                        </ul>
                                    </div>
                                </div>

                                <!-- 分页结束 -->
                            </div>

                        </section>

                    </div>

                </div>


            </div>

        </div>
    </div>

    <div th:replace="public/public::myModal"></div>
    <div th:replace="admin/stock/batch::mybatch"></div>
    <div th:replace="admin/stock/showQRCode::showqrcode"></div>
    <div th:replace="admin/stock/column::mycolumn"></div>
    <div th:replace="admin/stock/supplier::mysupplier"></div>
    <div th:replace="admin/stock/in::mystockStatistics"></div>
    <div th:replace="admin/stock/out::mystockStatistics2"></div>
    <div th:replace="admin/stock/batchout::mystockbatchout"></div>
    <div th:replace="admin/stock/batchpaymentorderno::myPaymentOrderNo"></div>
</div>
<!-- 引入stocklist.js -->
<script type="text/javascript" th:inline="javascript"
        th:src="@{/js/admin/stock/stocklist.js}"></script>
<script type="text/javascript" th:inline="javascript"
        th:src="@{/js/admin/stock/in.js}"></script>
<script type="text/javascript" th:inline="javascript"
        th:src="@{/js/admin/stock/out.js}"></script>
<script type="text/javascript" th:inline="javascript"
        th:src="@{/js/admin/stock/batchout.js}"></script>
<script type="text/javascript" th:inline="javascript"
        th:src="@{/js/admin/stock/batchpaymentorderno.js}"></script>
<!--  END OF PAPER WRAP -->
<script type="text/javascript"
        th:src="@{/plugs/prettyfile/bootstrap-prettyfile.js}"></script>
<!-- 右侧隐藏菜单start -->
<div th:replace="public/public::right"></div>
<!-- 右侧隐藏菜单end-->
<!-- 底部js -->
<div th:replace="public/public_js::pub_js"></div>
<div th:replace="public/public_js::public_script"></div>
<div th:replace="public/public::footer"></div>
<!-- Jquery Validate -->
<script type="text/javascript"
        th:src="@{/plugs/validate/jquery.validate.min.js}"></script>
<script type="text/javascript"
        th:src="@{/plugs/validate/messages_zh.min.js}"></script>
<!-- Sweet alert -->
<script th:src="@{/plugs/sweetalert/sweetalert.min.js}"></script>
<div th:replace="public/public_js::validator"></div>
<script th:src="@{/assets/js/select/bootstrap-select.js}"
        type="text/javascript"></script>
<script type="text/javascript" th:inline="javascript">
    function setProjectName(o) {
        $("#projectName").val(o)
    }

    function setbatchProjectName(o) {
        $("#batchprojectName").val(o)
    }
    function isEmpty(value) {
        return value === "" || value === undefined || value === null;
    }

    $(function(){
        var sysModuleCode=/* <![CDATA[ */ [[${requestBo?.ssC}]] /*]]>*/
        if(!isEmpty(sysModuleCode)){
            var moduleCodeArr = sysModuleCode.split(",");
            if (moduleCodeArr.length > 0) {
                // var rtype = document.getElementById("searchArea");
                for (var j = 0; j < moduleCodeArr.length; j++) {
                    $('#searchssC').val(moduleCodeArr[j]).prop('selected', true);

                }
            }
        }
        $("#searchssC").selectpicker("val", moduleCodeArr);
        $("#searchssC").selectpicker("refresh");

    })

    $(function(){
        var sysModuleCode=/* <![CDATA[ */ [[${requestBo?.searchArea}]] /*]]>*/
        if(!isEmpty(sysModuleCode)){
            var moduleCodeArr = sysModuleCode.split(",");
            if (moduleCodeArr.length > 0) {
                // var rtype = document.getElementById("searchArea");
                    for (var j = 0; j < moduleCodeArr.length; j++) {
                        $('#searchArea').val(moduleCodeArr[j]).prop('selected', true);

                        }
                    }
            }
            $("#searchArea").selectpicker("val", moduleCodeArr);
            $("#searchArea").selectpicker("refresh");

    })

    $(function(){
        var options = [], _options;
        /* <![CDATA[ */
        var data = [[${pnames}]]

        for (var i = 0; i < data.length; i++) {
            var option = '<option value="' + data[i].id + '">' + data[i].name + '</option>';
            options.push(option);
        }
        _options = options.join('');
        $('#number-multiple')[0].innerHTML = _options;
        var a = [[${stock?.supplier?.id}]]
        $("#number-multiple").selectpicker('val',a);
        $("#number-multiple").selectpicker('refresh');
        $('#number-multiple').selectpicker('render')




        var options2 = [], _options2;
        var data2 = [[${customers}]]

        for (var i = 0; i < data2.length; i++) {
            var option = '<option value="' + data2[i].id + '">' + data2[i].name + '</option>';
            options2.push(option);
        }
        _options2 = options2.join('');
        $('#number-multiple2')[0].innerHTML = _options2;
        var a2 = [[${stock?.brand?.id}]]
        $("#number-multiple2").selectpicker('val',a2);
        $("#number-multiple2").selectpicker('refresh');
        $('#number-multiple2').selectpicker('render')


        var options3 = [], _options3;
        var data3 = [[${pnames}]]

        for (var i = 0; i < data3.length; i++) {
            var option = '<option value="' + data3[i].id + '">' + data3[i].name + '</option>';
            options3.push(option);
        }
        _options3 = options3.join('');
        $('#number-multiple3')[0].innerHTML = _options3;
        var a3 = [[${stock?.brand?.id}]]
        $("#number-multiple3").selectpicker('val',a3);
        $("#number-multiple3").selectpicker('refresh');
        $('#number-multiple3').selectpicker('render')


        var options4 = [], _options4;
        var data3 = [[${customers}]]

        for (var i = 0; i < data3.length; i++) {
            var option = '<option value="' + data3[i].id + '">' + data3[i].name + '</option>';
            options4.push(option);
        }
        _options4 = options4.join('');
        $('#number-multiple4')[0].innerHTML = _options4;
        var a4 = [[${stock?.brand?.id}]]
        $("#number-multiple4").selectpicker('val',a4);
        $("#number-multiple4").selectpicker('refresh');
        $('#number-multiple4').selectpicker('render')

    })

    /*]]>*/

</script>

</body>

</html>
