<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>报修人管理</title>
    <!-- 公共CSS -->
    <th:block th:include="public/public_css::pub_css"></th:block>
    <link th:href="@{/plugs/sweetalert/sweetalert.css}" rel="stylesheet">
</head>
<body>
<!-- Preloader -->
<div id="preloader">
    <div id="status">&nbsp;</div>
</div>

<!-- TOP NAVBAR -->
<div th:replace="public/public::top"></div>

<!-- SIDE MENU -->
<div th:replace="public/public::left(activeUri='repair')"></div>

<!-- PAPER WRAP -->
<div class="wrap-fluid">
    <div class="container-fluid paper-wrap bevel tlbr">
        <!-- CONTENT -->
        <!-- TITLE -->
        <div th:replace="public/public::title(title='报修人管理',subtitle='WxReporter Management')"></div>
        <!-- /TITLE -->

        <!-- BREADCRUMB -->
        <div th:replace="public/public::menu(menu='报修人管理',submenu='报修人列表')"></div>
        <!-- END OF BREADCRUMB -->

        <div class="content-wrap">
            <div class="row">
                <div class="col-sm-12">
                    <div class="nest" id="tableStaticClose">
                        <div class="title-alt">
                            <!-- 操作按钮（移到搜索框前，移除添加按钮） -->
                            <div class="form-inline pull-left" style="margin-bottom: 10px; margin-right: 15px;">
                                <shiro:hasPermission name="wxReporter:edit">
                                    <button class="btn btn-primary btn-sm mr-2"
                                            onclick="return toeditPage('','wxReporter')">
                                        <i class="fa fa-edit"> </i>编辑
                                    </button>
                                </shiro:hasPermission>

                                <shiro:hasPermission name="wxReporter:delete">
                                    <button class="btn btn-danger btn-sm"
                                            th:onclick="|return del('','@{/wxReporter/}')|">
                                        <i class="fa fa-trash-o"> </i>删除
                                    </button>
                                </shiro:hasPermission>
                            </div>
                            
                            <!-- 搜索框 -->
                   <!--          <div class="form-inline pull-left" style="margin-bottom: 10px;">
                                <div class="form-group">
                                    <input type="text" name="search" th:value="${search}" 
                                           class="form-control input-sm" placeholder="模糊查询（姓名/学校/地址/校区）"
                                           style="width: 200px;">
                                    <button type="button" onclick="searchList()" class="btn btn-default btn-sm ml-2">搜索</button>
                                    <button type="button" onclick="resetSearch()" class="btn btn-default btn-sm ml-2">重置</button>
                                </div>
                            </div> -->

                            <div class="titleClose">
                                <a class="gone" href="#tableStaticClose"> <span class="entypo-cancel"></span> </a>
                            </div>
                            <div class="titleToggle">
                                <a class="nav-toggle-alt" href="#tableStatic"> <span class="entypo-up-open"></span> </a>
                            </div>
                        </div>

                        <div class="body-nest" id="tableStatic">
                            <section id="flip-scroll">
                                <table class="table table-bordered table-striped cf">
                                    <thead class="cf">
                                    <tr>
                                        <th class="numeric" style="width: 20px;">
                                            <div class="checkbox checkbox-inline" style="margin-top: 0px;">
                                                <input type="checkbox" id="checkall" name="checkall" />
                                                <label for="checkall"></label>
                                            </div>
                                        </th>
                                        <th class="numeric">微信OpenId</th>
                                        <th class="numeric">报修人姓名</th>
                                        <th class="numeric">联系电话</th>
                                        <th class="numeric">学校名称</th>
                                        <th class="numeric">校区</th>
                                        <th class="numeric">学校地址</th>
                                        <th class="numeric">操作</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <!-- 适配分页数据，处理空数据场景 -->
                                    <th:block th:if="${#lists.isEmpty(pageList.datas)}">
                                        <tr>
                                            <td colspan="8" class="text-center">暂无报修人数据</td>
                                        </tr>
                                    </th:block>
                                    <th:block th:each="reporter:${pageList.datas}">
                                        <tr>
                                            <td class="numeric">
                                                <div class="checkbox checkbox-inline" style="margin-top: 0px;">
                                                    <input type="checkbox" name="ids" th:id="${reporter.id}"
                                                           class="numeric" th:value="${reporter.id}">
                                                    <label th:for="${reporter.id}"></label>
                                                </div>
                                            </td>
                                            <td class="numeric">[[${reporter.openId ?: '未绑定'}]]</td>
                                            <td class="numeric">[[${reporter.userName}]]</td>
                                            <td class="numeric">[[${reporter.contactNumber}]]</td>
                                            <td class="numeric">[[${reporter.schoolName}]]</td>
                                            <td class="numeric">[[${reporter.campus ?: '无'}]]</td>
                                            <td class="numeric">[[${reporter.schoolAddress ?: '无'}]]</td>
                                            <td class="numeric">
                                                <shiro:hasPermission name="wxReporter:edit">
                                                    <button class="btn btn-primary btn-xs"
                                                            th:onclick="|return toeditPage('${reporter.id}','wxReporter')|">
                                                        <i class="fa fa-edit"> </i>编辑
                                                    </button>
                                                </shiro:hasPermission>
                                                <shiro:hasPermission name="wxReporter:delete">
                                                    <button class="btn btn-danger btn-xs"
                                                            th:onclick="|return del('@{/wxReporter/}${reporter.id}','')|">
                                                        <i class="fa fa-trash-o"> </i>删除
                                                    </button>
                                                </shiro:hasPermission>
                                            </td>
                                        </tr>
                                    </th:block>
                                    </tbody>
                                </table>

                                <!-- 删除表单（适配逻辑删除） -->
                                <form method="post" id="deleteForm">
                                    <input name="_method" value="delete" type="hidden">
                                </form>

                                <!-- 分页（适配Service的分页逻辑） -->
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="col-md-6">
                                            <div class="dataTables_info hidden-xs" style="margin-top: 0px;" role="status" aria-live="polite"
                                                 th:text="|每页显示${pageList.pageSize}行 － 当前页${pageList.pageNo}页 － 共${pageList.totalPage}页 － 总条数${pageList.totalCount}|"></div>
                                        </div>
                                        <div class="col-md-6">
                                            <ul class="pagination pagination-split pull-right" style="margin-top: 0px;">
                                                <li th:class="${pageList.pageNo } eq 1 ?disabled:''">
                                                    <a th:href="${pageList.pageNo} eq 1?'javascript:void(0);':@{/wxReporters?pageNo=}+${pageList.pageNo - 1}+'&search='+${search}">上一页</a>
                                                </li>
                                                <li th:each="page:${pageList.navigatepageNums}" th:class="${page  == pageList.pageNo}?active:''">
                                                    <a th:href="${page eq pageList.pageNo}?'javascript:void(0)':@{/wxReporters?pageNo=}+${page}+'&search='+${search}">[[${page}]]</a>
                                                </li>
                                                <li th:class="${pageList.pageNo eq pageList.totalPage}?disabled:''">
                                                    <a th:href="${pageList.pageNo eq pageList.totalPage}?'javascript:void(0);':@{/wxReporters?pageNo=}+${pageList.pageNo + 1}+'&search='+${search}">下一页</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 公共模态框 -->
        <div th:replace="public/public::myModal"></div>
    </div>
</div>

<!-- 右侧边栏 -->
<div th:replace="public/public::right"></div>

<!-- 底部JS -->
<div th:replace="public/public_js::pub_js"></div>
<div th:replace="public/public_js::public_script"></div>
<div th:replace="public/public::footer"></div>
<script th:src="@{/plugs/sweetalert/sweetalert.min.js}"></script>
<div th:replace="public/public_js::validator"></div>

<script type="text/javascript">
    // 搜索功能（适配Service的findIdsBySearch）
    function searchList() {
        var searchVal = $("input[name='search']").val().trim();
        window.location.href = "[[@{/wxReporters}]]?pageNo=1&search=" + encodeURIComponent(searchVal);
    }
    
    // 重置搜索
    function resetSearch() {
        $("input[name='search']").val("");
        window.location.href = "[[@{/wxReporters}]]?pageNo=1&search=";
    }

    // 适配批量删除逻辑（Service支持逗号分隔的id）
    function del(batchUrl, singleUrl) {
        var checkedIds = [];
        $("input[name='ids']:checked").each(function() {
            checkedIds.push($(this).val());
        });
        if (checkedIds.length === 0) {
            swal("提示", "请选择要删除的报修人", "warning");
            return false;
        }
        swal({
            title: "确认删除？",
            text: "删除后数据将被逻辑隐藏，不可恢复！",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "确认",
            cancelButtonText: "取消",
            closeOnConfirm: false
        }, function() {
            // 提交删除表单（批量删除时拼接id）
            var deleteUrl = batchUrl + checkedIds.join(",");
            $("#deleteForm").attr("action", deleteUrl).submit();
            swal("删除成功", "", "success");
        });
        return false;
    }
</script>
</body>
</html>